<!-- test page, simulates a static page generated through app build -->

<ion-slides [options]='{pager:true}'>
<ion-slide>
  <img src="img/ica-slidebox-img-1.png" class="slide-image"/>
  <h2 class="slide-title">Slide Title</h2>
  <p>Slide Description</p>
</ion-slide>
<ion-slide>
  <img src="img/ica-slidebox-img-1.png" class="slide-image"/>
  <h2 class="slide-title">Slide Title</h2>
  <p>Slide Description</p>
</ion-slide>
<ion-slide>
  <img src="img/ica-slidebox-img-4.png" class="slide-image"/>
  <h2 class="slide-title">Ready to Go?</h2>
  <button large clear (click)="openPage(pages[1])">
    Continue
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-slide>
</ion-slides>

<!-- <ion-row wrap>
  <ion-col width-50 *ngFor="let p of pages">
  <ion-card (click)="openPage(p)">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row> -->