<ion-header>

  <ion-navbar>

  	<ion-buttons start>
      <button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
          <ion-icon name="arrow-forward"></ion-icon>
          {{'Back' | translate }}
      </button>

      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-buttons>

    <ion-title>{{ title | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div *ngIf="order">
		<h2>{{ 'Your Order' | translate }}</h2>

		<ion-list>

			<ion-item *ngFor="let item of order.line_items">
				<p class="item-name">{{item.name}}</p>
				<p class="item-total">{{item.total}}</p>
			</ion-item>
			<ion-item><strong>{{ 'Total:' | translate }} {{order.total}}</strong></ion-item>
			<ion-item><p>{{ 'Status:' | translate }} {{order.status}}</p></ion-item>
		</ion-list>

	</div>

	<button ion-button block (tap)="thanksContinue()">{{ 'Continue shopping' | translate }}</button>

</ion-content>
