<ion-header>
  <ion-navbar no-border-bottom>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>{{title}}</ion-title>

    </ion-navbar>

    <ion-toolbar *ngIf="doFavorites" id="favorites-toolbar">

      <button ion-button clear (click)="showAll()">
        All
      </button>

      <button ion-button clear (click)="showFavorites()">
        Favorites
      </button>

    </ion-toolbar>

</ion-header>

<ion-content class="post-list">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-slides *ngIf="showSlider" [options]='{pager:true}'>

    <ion-slide *ngFor="let slide of slides" [ngStyle]="{'background-image': 'url(' + (slide.featured_image_urls ? slide.featured_image_urls.large : null) + ')'}" (click)="itemTapped($event, slide)">

      <h3 class="slide-title" [innerHTML]="slide.title.rendered"></h3>

      <div *ngIf="slide.appp && slide.appp.post_list && slide.appp.post_list.slide_content" [innerHTML]="slide.appp.post_list.slide_content"></div>

    </ion-slide>

  </ion-slides>
  
  <ion-list *ngIf="defaultlist">

    <ion-item-sliding *ngFor="let item of items" #slidingItem>
      <button ion-item (click)="itemTapped($event, item)">

      <ion-avatar item-left *ngIf="item.featured_image_urls">
        <img *ngIf="item.featured_image_urls && item.featured_image_urls.thumbnail" src="{{item.featured_image_urls.thumbnail}}">
        <img *ngIf="!item.featured_image_urls || !item.featured_image_urls.thumbnail" src="img/appicon.png">
      </ion-avatar>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

      <h2 [innerHTML]="item.title.rendered"></h2>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

      <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="item.excerpt.rendered"></p>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

      </button>

      <ion-item-options side="right" *ngIf="doFavorites">
        <button ion-button color="primary" (click)="addFav(slidingItem, item)">
          <ion-icon name="star-outline"></ion-icon>
          Favorite
        </button>
      </ion-item-options>
    </ion-item-sliding>

  </ion-list>

  <ion-list *ngIf="cardlist">

    <ion-card (click)="itemTapped($event, item)" *ngFor="let item of items">
      
      <div class="card-featured-wrap" *ngIf="item.featured_image_urls && item.featured_image_urls.medium">
        <img src="{{item.featured_image_urls.medium}}">
      </div>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

      <ion-card-content>

        <ion-card-title>
          <h2 [innerHTML]="item.title.rendered"></h2>
        </ion-card-title>

        <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

        <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="item.excerpt.rendered"></p>

      </ion-card-content>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

    </ion-card>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
