<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title [innerHTML]="title"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">

    <ion-avatar item-left *ngIf="item.featured_image_urls">
      <img *ngIf="item.featured_image_urls && item.featured_image_urls.thumbnail" src="{{item.featured_image_urls.thumbnail}}">
      <img *ngIf="!item.featured_image_urls || !item.featured_image_urls.thumbnail" src="img/appicon.png">
    </ion-avatar>

    <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

    <h2 [innerHTML]="item.title.rendered"></h2>

    <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

    <p *ngIf="item.excerpt.rendered" [innerHTML]="item.excerpt.rendered"></p>

    <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

    </button>
  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>

</ion-content>
