.media-list {

	ion-icon[item-end] {
		color: #ccc;
		padding-left: 10px;

	}

	ion-icon[item-start] {
		float:left;
		min-width: 24px;
	}

	ion-icon[name="remove-circle"] {
		color: red
	}

	.label {
		margin: 0;
	}

	.media-click-area {
	    min-height: 3rem;
	    overflow: hidden;
	    width: auto;
	    padding: 13px 8px 13px 0;
	    display: flex;
	    align-items: center;
	    flex-wrap: wrap;

	    h2 {
	    	max-width: 80%;
	    	margin-right: 5px;
	    }
	}

	.downloaded-text {
		background-color: green;
		font-size: 10px;
		padding: 3px 5px;
		border-radius: 3px;
		margin-right: 5px;
		color: #fff;
		float: left;
		font-weight: bold;
	}

	.item-ios[detail-push] .item-inner, button.item-ios:not([detail-none]) .item-inner, a.item-ios:not([detail-none]) .item-inner {
		background: none;
	}

}