<ion-header>
	<ion-navbar>
		
		<ion-buttons start>
		<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
		    <ion-icon name="arrow-back"></ion-icon>
		    {{ 'Back' | translate }}
	    </button>

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		</ion-buttons>

	    <ion-title>{{title | translate}}</ion-title>

	    <ion-buttons end>
	    <button *ngIf="activityModal" ion-button (click)="doActivityModal($event)">
			<ion-icon name="ios-create-outline"></ion-icon>
		</button>
		<button *ngIf="checkinModal" ion-button (click)="doCheckinModal($event)">
			<ion-icon name="ios-navigate-outline"></ion-icon>
		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
    <iframe [src]="url" id="ap3-iframe" class="ap3-iframe"></iframe>
</ion-content>