<ion-header>

	<ion-navbar>
		
		<ion-buttons start>
		<button *ngIf="rtlBack||is_registration_page" (click)="backRtlTransition()" ion-button class="custom-back-button">
		    <ion-icon name="arrow-back"></ion-icon>
		    {{ 'Back' | translate }}
		</button>

		<button ion-button menuToggle>
			<ion-icon name="menu"></ion-icon>
		</button>

		</ion-buttons>

	    <img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

    	<ion-title *ngIf="!show_header_logo">{{title | translate}}</ion-title>

	    <ion-buttons end>
	    <button *ngIf="activityModal" ion-button (click)="doActivityModal($event)">
			<ion-icon name="ios-create-outline"></ion-icon>
		</button>
		<button *ngIf="checkinModal" ion-button (click)="doCheckinModal($event)">
			<ion-icon name="ios-navigate-outline"></ion-icon>
		</button>
		<button *ngIf="showShare" ion-button (click)="share()">
			<ion-icon name="share"></ion-icon>
		</button>
		<button *ngIf="showCartLink" ion-button (click)="cartLink()">
			<ion-icon name="cart"></ion-icon>
		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
    <iframe *ngIf="url" [src]="url" id="ap3-iframe" class="ap3-iframe" allowfullscreen></iframe>
</ion-content>