<div class="list-loading-spinner" *ngIf="loading"><ion-spinner name="bubbles"></ion-spinner></div>

<div *ngIf="refresh && !loading" class="list-refresher">
  <ion-icon name="refresh" (tap)="doRefresh()"></ion-icon>
  <span>{{ 'Refresh' | translate }}</span>
</div>

<ion-list *ngIf="card">

    <ion-card *ngFor="let item of items">

      <div (tap)="loadDetail(item)" class="card-featured-wrap" *ngIf="item.images || item.image">
        <div *ngIf="item.images && item.images[0].src" class="card-featured-image" [ngStyle]="{'background-image': 'url('+ item.images[0].src +')'}"></div>
        <div *ngIf="item.image && item.image.src" class="card-featured-image" [ngStyle]="{'background-image': 'url('+ item.image.src +')'}"></div>
      </div>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.above_title" [innerHTML]="item.appp.woo_list.above_title"></div>

      <ion-card-content>

        <ion-card-title *ngIf="item.name" (tap)="loadDetail(item)">
          <h2 [innerHTML]="item.name"></h2>
        </ion-card-title>

        <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_title" [innerHTML]="item.appp.woo_list.below_title"></div>

        <p *ngIf="item.price && !item.sale_price" class="product-price">${{item.price}}</p>

        <p *ngIf="item.sale_price" class="product-price">Sale! ${{item.sale_price}}</p>

<!--         <p *ngIf="item.description" (tap)="loadDetail(item)" [innerHTML]="item.description" class="product-description"></p> -->

        <star-rating [rating]="item.average_rating"></star-rating>

        <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_content" [innerHTML]="item.appp.woo_list.below_content"></div>

      </ion-card-content>
      
      <div class="btn-wrap" *ngIf="item.type">
        <button class="product-action" ion-button block small color="light" (tap)="productAction(item)">{{ getBtnText(item) | translate }}</button>
      </div>

    </ion-card>

</ion-list>

<ion-list *ngIf="!card">

	<ion-item *ngFor="let item of items" (click)="loadDetail(item)">

      <ion-avatar item-left *ngIf="item.images">
        <img *ngIf="item.images[0] && item.images[0].src" src="{{item.images[0].src}}">
        <img *ngIf="!item.images[0]" src="assets/woo-default.png">
      </ion-avatar>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.above_title" [innerHTML]="item.appp.woo_list.above_title"></div>

      <h2 *ngIf="item.name" [innerHTML]="item.name"></h2>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_title" [innerHTML]="item.appp.woo_list.below_title"></div>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_title" [innerHTML]="item.appp.woo_list.below_title"></div>

      <p *ngIf="item.price && !item.sale_price" class="product-price">${{item.price}}</p>

      <p *ngIf="item.sale_price" class="product-price">Sale! ${{item.sale_price}}</p>

      <p *ngIf="item.description" [innerHTML]="item.description" class="product-description"></p>

      <p *ngIf="item.average_rating && item.average_rating != '0.00'" class="product-rating"><em>Rating: {{item.average_rating}} stars</em></p>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_content" [innerHTML]="item.appp.woo_list.below_content"></div>

    </ion-item>

</ion-list>

<ion-infinite-scroll *ngIf="infiniteScroll" (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>