<div class="loading-squares" *ngIf="loading">
 <div class="loading-square">
 </div>
 <div class="loading-square">
 </div>
 <div class="loading-square">
 </div>
 <div class="loading-square">
 </div>
</div>

<div *ngIf="refresh && !loading" class="list-refresher">
  <ion-icon name="refresh" (tap)="doRefresh()"></ion-icon>
  <span>{{ 'Refresh' | translate }}</span>
</div>

<ion-toolbar class="woo-list-toolbar" color="light" *ngIf="!hideToolbar && !wishlist && !loading">

  <ion-item no-lines *ngIf="categories" id="favorites-toolbar" color="light">

    <ion-select [(ngModel)]="category" (ionChange)="categoryChanged()" placeholder="{{ 'Category' | translate }}">

      <ion-option *ngFor="let cat of categories" [value]="cat.id">{{ cat.name | translate }}</ion-option>

    </ion-select>

  </ion-item>
</ion-toolbar>

<ion-list *ngIf="card && card != 'false'">

    <ion-card *ngFor="let item of items">

      <div (tap)="loadDetail(item)" class="card-featured-wrap" *ngIf="item.images || item.image">
        <div *ngIf="item.images && item.images[0] && item.images[0].src" class="card-featured-image" [ngStyle]="{'background-image': 'url('+ item.images[0].src +')'}"></div>
        <div *ngIf="item.image && item.image.src" class="card-featured-image" [ngStyle]="{'background-image': 'url('+ item.image.src +')'}"></div>
        <div *ngIf="!item.image && !item.images" class="card-featured-image" [ngStyle]="{'background-image': 'url(assets/woo-default.png)'}"></div>
      </div>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.above_title" [innerHTML]="item.appp.woo_list.above_title"></div>

      <ion-card-content>

        <ion-card-title *ngIf="item.name" (tap)="loadDetail(item)">
          <h2 [innerHTML]="item.name"></h2>
        </ion-card-title>

        <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_title" [innerHTML]="item.appp.woo_list.below_title"></div>

        <p (tap)="loadDetail(item)" *ngIf="item.price_html" class="product-price" [innerHTML]="item.price_html"></p>

        <p (tap)="loadDetail(item)" *ngIf="!item.price_html && item.price" class="product-price">{{ item.price }}</p>

        <p *ngIf="item.description" (tap)="loadDetail(item)" [innerHTML]="truncateString(item.description)" class="product-description"></p>

        <star-rating *ngIf="!wishlist" [rating]="item.average_rating"></star-rating>

        <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_content" [innerHTML]="item.appp.woo_list.below_content"></div>

      </ion-card-content>

      <ion-item *ngIf="wishlist">

        <button item-start class="product-action-wishlist" ion-button clear (tap)="productAction(item)">{{ getBtnText(item) | translate }}</button>

        <button ion-button item-end icon-start color="danger" clear (tap)="removeSavedItem(item)"><ion-icon name="close-circle"></ion-icon> {{ 'Remove' | translate }}</button>

      </ion-item>

    </ion-card>

</ion-list>

<ion-list *ngIf="card == 'false'">

	<ion-item *ngFor="let item of items">

      <button ion-button item-end *ngIf="wishlist" icon-only color="danger" clear (tap)="removeSavedItem(item)"><ion-icon name="close-circle"></ion-icon></button>

      <ion-thumbnail class="product-thumbnail" (tap)="loadDetail(item)" item-start *ngIf="item.images">
        <img *ngIf="item.images[0] && item.images[0].src" src="{{item.images[0].src}}">
        <img *ngIf="!item.images[0]" src="assets/woo-default.png">
      </ion-thumbnail>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.above_title" [innerHTML]="item.appp.woo_list.above_title"></div>

      <h2 (tap)="loadDetail(item)" *ngIf="item.name" [innerHTML]="item.name"></h2>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_title" [innerHTML]="item.appp.woo_list.below_title"></div>

      <p (tap)="loadDetail(item)" *ngIf="item.price_html" class="product-price" [innerHTML]="item.price_html"></p>

      <p (tap)="loadDetail(item)" *ngIf="!item.price_html && item.price" class="product-price">{{ item.price }}</p>

      <p *ngIf="item.description" (tap)="loadDetail(item)" [innerHTML]="truncateString(item.description)" class="product-description"></p>

      <star-rating *ngIf="!wishlist" [rating]="item.average_rating"></star-rating>

      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_content" [innerHTML]="item.appp.woo_list.below_content"></div>

    </ion-item>

</ion-list>

<ion-infinite-scroll *ngIf="infiniteScroll" (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>