*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

.idea/
.sass-cache/
.tmp/
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json
www/
www-*
/*-todo.txt
$RECYCLE.BIN/
/.sourcemaps/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
/main-copy.sh
/.sourcemaps/1.js.map
/.sourcemaps/main.js.map
/.sourcemaps/0.js.map
*.map
/testing-hold
/testing-fb-login
/save
/build.json
/.sourcemaps/10.js.map
/.sourcemaps/9.js.map
/.sourcemaps/8.js.map
/.sourcemaps/6.js.map
/.sourcemaps/5.js.map
/.sourcemaps/4.js.map
/.sourcemaps/3.js.map
/.sourcemaps/2.js.map
/package-lock.json
resources/
