<ion-header [ngClass]="customHeaderClasses">

  <ion-navbar>
    
    <ion-buttons start>
    <button *ngIf="rtlBack||is_registration_page" (click)="backRtlTransition()" ion-button class="custom-back-button">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'Back' | translate }}
    </button>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    </ion-buttons>

    <img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

    <ion-title *ngIf="!show_header_logo">{{title | translate}}</ion-title>

    <ion-buttons end>

      <button id="notification-button" *ngIf="notifications" ion-button (click)="viewNotifications()" clear>
          <ion-icon name="notifications">
            <ion-badge color="danger">{{ notifications }}</ion-badge>
          </ion-icon>              
      </button>

      <button ion-button *ngIf="activityList && !isUserActivity" (click)="doActivity()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>

      <button ion-button class="search-button-header" (click)="toggleSearchBar()">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-toolbar *ngIf="showSearch">
    <ion-searchbar placeholder="{{'Search' | translate }}" debounce="1000" (ionInput)="search($event)" (ionClear)="clearSearch()"></ion-searchbar>
  </ion-toolbar>

  <ion-item *ngIf="bpSegments && !showSearch" id="favorites-toolbar" color="light">

    <ion-select [(ngModel)]="segments" (ionChange)="segmentChanged()" placeholder="Filter">

      <ion-option *ngFor="let segment of bpSegments" [value]="segment.name">{{ segment.name | translate }}</ion-option>

    </ion-select>

  </ion-item>

</ion-header>

<ion-content [ngClass]="customClasses">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list *ngIf="activityList">

  	<ion-card *ngFor="let item of items">

      <ion-item *ngIf="item.display_name">
        <ion-avatar item-start (tap)="openMember(item)">
          <img *ngIf="item.user_avatar && item.user_avatar.thumb" [src]="formatUrl( item.user_avatar.thumb )">
          <img *ngIf="!item.user_avatar || !item.user_avatar.thumb" src="assets/default.png">
        </ion-avatar>
        <span class="comment-name" [innerHTML]="item.display_name">
        </span>
        <span class="group-name" *ngIf="item.title">{{ getGroupName( item.title ) }}</span>
      </ion-item>

      <ion-card-content>
        
        <div class="item-content" *ngIf="item.content" [innerHTML]="item.content | doLinks"></div>

      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="loadDetail(item)">

            <div *ngIf="!item.comment_count || item.comment_count === '0'"><ion-icon name="text" ></ion-icon> {{ 'Comment' | translate }}</div>

            <div *ngIf="item.comment_count && item.comment_count === '1'"><span>{{item.comment_count}}</span> {{ 'Comment' | translate }}</div>

            <div *ngIf="item.comment_count && item.comment_count != '0' && item.comment_count != '1'"><span>{{item.comment_count}}</span> {{ 'Comments' | translate }}</div>

          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-start clear small (tap)="favorite(item)">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-badge item-end *ngIf="item.favorites">{{item.favorites}}</ion-badge>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

    <ion-item *ngIf="noItems">{{ 'No items to show.' | translate }}</ion-item>

  </ion-list>

  <ion-list *ngIf="groupList">

    <ion-item *ngFor="let item of items">

      <ion-avatar item-start *ngIf="item.avatar_urls" (tap)="openGroup(item)">
        <img *ngIf="item.avatar_urls && item.avatar_urls.thumb" [src]="formatUrl( item.avatar_urls.thumb )">
        <img *ngIf="!item.avatar_urls || !item.avatar_urls.thumb" src="assets/default.png">
      </ion-avatar>

      <span (tap)="openGroup(item)" class="comment-name" [innerHTML]="item.name"></span>
        
      <div class="item-content" *ngIf="item.description" (tap)="openGroup(item)" [innerHTML]="item.description"></div>

      <!-- <button *ngIf="!myGroups" ion-button color="light" (tap)="joinGroup(item)" item-end>Join Group</button> -->

    </ion-item>

    <ion-item *ngIf="noItems">{{ 'No items to show.' | translate }}</ion-item>

  </ion-list>

  <ion-list *ngIf="memberList">

    <ion-item-divider color="light" (tap)="myProfile()" *ngIf="login_data">
      {{ 'My Profile' || translate }}
      <ion-icon item-end name="ios-arrow-forward"></ion-icon>
    </ion-item-divider>

    <ion-item *ngFor="let item of items" (tap)="openMember(item)">

      <ion-avatar item-start *ngIf="item.avatar">
        <img [src]="formatUrl( item.avatar )">
      </ion-avatar>

      <span class="comment-name" [innerHTML]="item.name"></span>

      <!-- <button ion-button color="light" (tap)="AddFriend(item)" item-end>Add Friend</button> -->

    </ion-item>

    <ion-item *ngIf="noItems">{{ 'No items to show.' | translate }}</ion-item>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>