<ion-header>

  <ion-navbar>
    
    <ion-buttons start>
    <button *ngIf="rtlBack||is_registration_page" (click)="backRtlTransition()" ion-button class="custom-back-button">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'Back' | translate }}
    </button>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    </ion-buttons>

    <img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

    <ion-title *ngIf="!show_header_logo">{{title | translate}}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="doActivity()">
        <ion-icon name="ios-create-outline"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-list>

  	<ion-card *ngFor="let item of items">

      <ion-item *ngIf="item.display_name">
        <ion-avatar item-start>
          <img *ngIf="item.user_avatar && item.user_avatar.thumb" src="https:{{item.user_avatar.thumb}}">
          <img *ngIf="!item.user_avatar || !item.user_avatar.thumb" src="assets/default.png">
        </ion-avatar>
        <span class="comment-name" [innerHTML]="item.display_name"></span>
      </ion-item>

      <ion-card-content>
        
        <div class="item-content" *ngIf="item.content" [innerHTML]="item.content"></div>

      </ion-card-content>

      <ion-row>
        <ion-col>
          <button ion-button icon-start clear small (click)="loadDetail(item)">
            <ion-icon name="text"></ion-icon>
            <div>Comments</div>
          </button>
        </ion-col>
        <ion-col text-right>
          <button ion-button icon-start clear small (tap)="favorite(item)">
            <ion-icon name="thumbs-up"></ion-icon>
            <ion-badge item-end *ngIf="item.favorites">{{item.favorites}}</ion-badge>
          </button>
        </ion-col>
      </ion-row>

    </ion-card>

  </ion-list>

  <ion-infinite-scroll (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>