.audio-player-wrapper.has-tabs {
  bottom: 56px;

  .popover-content {
    min-height: 80px;
  }
}

.audio-player-wrapper {
    height: auto;
    top: unset;

  .audio-player-image {

    max-height: 180px;

    img {
        display: block;
        width: 100%;
        height: auto;
    }
  }

  .popover-content {
    bottom: 0;
    max-height: 360px;
    top: unset !important;
    width: 100%;
    left: 0 !important;
    right: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    min-height: 135px;
  }

  audio-player {
    background: #333;
    display: block;
    overflow: hidden;
    .close-button, .collapse-button {
      position: absolute;
      right: 0;
      top: 0;
      z-index: 1;
      height: 44px;
      width: 44px;
      color: #fff;
    }
    .collapse-button {
        right: 55px;
    }
    .item {
      background: transparent;
      color: #fff;
    }
    .item-range ion-range {
      padding: 0 8px;
    }
    .item.player-buttons {
      padding-left: 0;
      padding-top: 20px;
      .item-inner {
        border-bottom: none;
      }
      .button {
        height: 44px;
        width: 44px;
        margin: 5px 20px;
        color: #fff;
      }
    }
    .player-buttons {
      text-align: center;
    }
  }
}

body .disable-scroll .ion-page {
  pointer-events: auto;
  touch-action: initial;
}

$range-ios-knob-width: 18px;