<ion-fab bottom center *ngIf="!playerExpanded">
  <button ion-fab color="dark" mini (click)="expand()">
    <ion-icon name="options"></ion-icon>
  </button>
</ion-fab>

<div *ngIf="playerExpanded">
  <div class="close-buttons">
    <button ion-button clear (click)="close()" class="close-button">
      <ion-icon name="close"></ion-icon>
    </button>
    <button ion-button clear (click)="collapse()" class="collapse-button">
      <ion-icon name="arrow-down"></ion-icon>
    </button>
  </div>
  <ion-card class="audio-player-image" no-lines *ngIf="image">
    <img [src]="image" />
  </ion-card>
  <ion-list class="audio-player-inside" no-lines>
    <ion-item no-lines text-wrap class="player-title-wrap">
      <h1 class="player-title" *ngIf="title" [innerHTML]="title"></h1>
    </ion-item>
    <ion-item class="player-buttons" no-lines>
      <button
        class="skip-backward-button"
        ion-button
        clear
        (click)="back()"
        icon-only
      >
        <ion-icon name="skip-backward"></ion-icon>
      </button>
      <button ion-button class="pause-button" clear (click)="pause()" icon-only>
        <ion-icon name="pause"></ion-icon>
      </button>
      <button
        ion-button
        class="play-button"
        clear
        (click)="play()"
        icon-only
      >
        <ion-icon name="play"></ion-icon>
      </button>

      <button
        class="forward-button"
        ion-button
        clear
        (click)="forward()"
        icon-only
      >
        <ion-icon name="skip-forward"></ion-icon>
      </button>
    </ion-item>
    <ion-item class="player-progress" no-lines>
      <ion-range
        [(ngModel)]="progress"
        (ionBlur)="seek()"
        min="0"
        max="100"
        color="primary"
      ></ion-range>
    </ion-item>
  </ion-list>
</div>
