.audio-player-minimized .audio-player-wrapper {
  width: 100px;
  left: unset;
  bottom: 75px;
  height: 65px;
  top: unset;

  audio-player {
    width: 100px;
    height: 160px;
    top: unset;
    background: none;
  }
}

.audio-player-wrapper {
  height: 100%;

  .item {
    padding-left: 0;
  }

  .item-md .label-md {
    padding: 13px 0;
  }

  .item.player-progress {
    padding: 0 15px;
  }

  .player-title {
    text-align: center;
  }

  .audio-player-image {
    max-height: 40vh;
    margin: 100px 15px 0;
    overflow: hidden;
    width: calc(100% - 40px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);
    transition: all 0.2s;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .popover-content {
    bottom: 0;
    max-height: 100%;
    top: 0 !important;
    width: 100%;
    left: 0 !important;
    right: 0;
    background: transparent;
    box-shadow: none;
    border-radius: 0;
    min-height: 80px;
    transform-origin: bottom !important;
  }

  audio-player {
    background: #2d3748;
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    bottom: 0;
    position: absolute;

    .audio-player-inside {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
    .close-buttons {
      top: 40px;
      position: absolute;
      left: 0;
      right: 0;
    }
    .popover-md .close-buttons {
      top: 30px;
    }
    .close-button,
    .collapse-button {
      position: absolute;
      top: 0;
      z-index: 1;
      height: 44px;
      width: 44px;
      color: #fff;
    }
    .collapse-button {
      left: 0;
    }
    .close-button {
      right: 0;
    }
    .item {
      background: transparent;
      color: #fff;
    }
    .item-range ion-range {
      padding: 0 8px;
    }
    .item.player-buttons {
      padding-left: 0;
      padding-top: 20px;
      .item-inner {
        border-bottom: none;
      }
      .button {
        height: 44px;
        width: 44px;
        margin: 5px 20px;
        color: #fff;
      }
      .button.play-button .icon {
        left: 2px;
        position: relative;
      }
      .button.big-circle {
        border-radius: 100%;
        border: 2px solid rgba(255, 255, 255, 0.5);
        height: 60px;
        width: 60px;
        .icon {
          font-size: 2.2em;
        }
      }
    }

    .player-buttons {
      text-align: center;
    }

    .range-ios .range-knob {
      left: 7px;
      top: 11px;
      width: 20px;
      height: 20px;
    }
  }
}

body .disable-scroll .ion-page {
  pointer-events: auto;
  touch-action: initial;
}
