<ion-header>
	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
			    <ion-icon name="arrow-back"></ion-icon>
			    {{'Back' | translate }}
			</button>

			<button ion-button menuToggle *ngIf="!selectedItem">
			  <ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<ion-title></ion-title>
		
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="userData">

		<ion-item *ngIf="userData.avatar_urls">
			<ion-avatar item-start>
				<img *ngIf="userData.avatar_urls && userData.avatar_urls.full" src="https:{{userData.avatar_urls.full}}">
				<img *ngIf="!userData.avatar_urls.full" src="https:{{userData.avatar_urls.thumb}}">
			</ion-avatar>
			<p class="user-name" *ngIf="userData.name" [innerHTML]="userData.name"></p>
			<p class="mention-name" *ngIf="userData.mention_name" [innerHTML]="'@' + userData.mention_name"></p>
			<button ion-button block (click)="iabLink(userData.link + '?appp=3')" color="light">View Full Profile</button>
		</ion-item>

		<ion-list>
			<!-- <button ion-item icon-start (click)="iabLink(userData.link + '?appp=3')"><ion-icon name="add"></ion-icon> Add Friend</button> -->
			<!-- <button ion-item icon-start (click)="iabLink(userData.link + '?appp=3')"><ion-icon name="chatbubbles"></ion-icon> Send Message</button> -->
			<button ion-item icon-start (click)="userActivity(userData )"><ion-icon name="list"></ion-icon> View Activity</button>
		</ion-list>

	</ion-card>

</ion-content>