<ion-header>
	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
			    <ion-icon name="arrow-back"></ion-icon>
			    {{'Back' | translate }}
			</button>

			<button ion-button menuToggle *ngIf="!selectedItem">
			  <ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<ion-title></ion-title>
		
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-card *ngIf="userData">

		<ion-item *ngIf="userData.avatar_urls">
			<ion-avatar item-start>
				<img *ngIf="userData.avatar_urls && userData.avatar_urls.full" src="https:{{userData.avatar_urls.full}}">
				<img *ngIf="!userData.avatar_urls.full" src="https:{{userData.avatar_urls.thumb}}">
			</ion-avatar>
			<p class="user-name" *ngIf="userData.name" [innerHTML]="userData.name"></p>
			<p class="mention-name" *ngIf="userData.mention_name" [innerHTML]="'@' + userData.mention_name"></p>
			<button ion-button block (click)="iabLink(userData.link )" color="light">View Full Profile</button>
			<button ion-button *ngIf="isMyProfile" block (click)="openLoginModal()" color="light">Logout</button>
			
		</ion-item>

		<ion-row *ngIf="!isMyProfile">
    		<ion-col text-center>
				<button ion-button icon-start small clear (click)="doFriend(userData.id )"><ion-icon name="add"></ion-icon> Friend</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button icon-start small clear (click)="message( userData )"><ion-icon name="chatbubbles"></ion-icon> Message</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button icon-start small clear (click)="userActivity(userData )"><ion-icon name="list"></ion-icon> Activity</button>
			</ion-col>
		</ion-row>

	</ion-card>

</ion-content>