// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "../pages/item-details/item-details";

@import "../pages/google-map/google-map";

@import "../pages/new-page/new-page";

@import "../pages/iframe/index";

.item.activated {
	background-color: rgba(135,135,135,.2);
}

.toolbar button.activated, .tab-button {
	opacity: .8;
}

.tab-button[aria-selected=true] {
	opacity: 1;
}

// prevents card text from disappearing if body text is white
ion-content ion-card-content {
	color: #000;
}

.item h2 {
	white-space: normal;
}

.post-featured-wrap {
	width: auto;
    max-height: 250px;
    overflow: hidden;
    margin: -20px -20px 20px -20px;

	img.post-featured {
		width: 100%;
		height: auto;
	}
}

.menu-inner ion-list > .item:first-child, .menu-inner ion-list > .item-wrapper:first-child .item {
	border-top: none;
}