woo-cart {

	min-height: 200px;
	display: block;

	.footer .toolbar-background {
		background: none;
	}
	.footer-md:before, .footer-ios:before {
		display: none;
	}

	.item {
		.item-inner {
			padding-right: 0;
		}

		ion-label {
			margin-right: 0
		}
	}

	.product-price p {
		font-weight: bold;
		font-size: 1.6rem;
		color: green;
	}

	.product-quantity {
		text-align: center;

		ion-icon {
			margin: 0 !important;
		}
		ion-icon[name="add-circle"] {
			float:right;
		}
		ion-icon[name="remove-circle"] {
			float:left;
		}
	}

	.product-remove ion-icon {
		float:right;
	}

	.loading-squares {
		display: block;
		height: 275px;
		overflow: hidden;
		clear: both;

		.loading-square {
			height: 80px;
			margin: 10px 0;
			width: 100%;
		}

	}

	.empty-cart {
		padding: 10px;
	}

}
