.video-category {

	margin-top:20px;
	border-bottom: 1px solid #DDD;

	.swiper-slide {
		margin-top: 12px;
	}

	.swiper-pagination-progress .swiper-pagination-progressbar {
		background-color: #000;
	}

	.card-background-page {
		background-color: #FFFFFF;
	}

	h2 {
		text-align: center;
		text-transform: uppercase;
		margin: 10px 0 5px;
		font-weight: 600;
    	color: #333;
	}
}

.video-slide-content {

	h3 {
		margin: 0px;
		font-size: 1em;
		line-height: 1.15em;
	}
	
	p {
		font-size: 12px;
		color: #666;
	}
}

.livestream-btn {
	text-align: center;
	width: 100%;
	color: #000;
	background-color: #ffd33b;
	font-weight: bold;
	padding: 6px;
}