<ion-header>

  <ion-navbar>
    <ion-title>{{ 'Cart' | translate }}</ion-title>

    <!-- <ion-buttons end>
		<button ion-button (click)="dismiss()">
			<ion-icon name="close"></ion-icon>
		</button>
	</ion-buttons> -->

  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="!items">
    <p>{{ cartEmpty }}</p>
    <!-- <button ion-button (click)="dismiss()">Continue Shopping</button> -->
  </div>

	<ion-list class="post-list woocommerce" *ngIf="products">

    <ion-item *ngFor="let item of products">

    	<ion-thumbnail item-start *ngIf="item.product_image">
	      <img src="{{item.product_image}}" class="product-image">
	    </ion-thumbnail>

  		<h2 *ngIf="item.product_name" [innerHTML]="item.product_name"></h2>

  		<ion-grid>
        <ion-row>
          <ion-col col-8><p *ngIf="item.line_total" class="product-price">${{item.line_total}}</p></ion-col>
          <ion-col col-2 text-center>
            <ion-item class="quantity" *ngIf="item.quantity">
              <ion-input type="tel" (ionChange)="quantityChanged($event, item)" name="quantity" value="{{item.quantity}}" size="3" placeholder="1">
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col col-2  text-right (click)="removeItem(item)"><ion-icon name="close" color="danger"></ion-icon></ion-col>
        </ion-row>
      </ion-grid>

    </ion-item>

    <ion-item *ngIf="cart_total">
      {{ 'Cart total:' | translate }} $ {{cart_total}}
    </ion-item>

    <ion-item *ngIf="cart_total">
      <button ion-button icon-left color="light" (click)="clearCart()"><ion-icon name="trash"></ion-icon> {{ 'Clear Cart' | translate }}</button>
    </ion-item>

  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar *ngIf="products">

      <button ion-button full color="primary" (click)="goCheckout()">
        {{ 'Checkout' | translate }}
        <ion-icon name="arrow-forward"></ion-icon>
      </button>

  </ion-toolbar>
</ion-footer>