ap-form {
	.list .item:first-child {
		margin-top: 0;
	}
	.ap-form-amount {
		width: 125px;
	    margin: 20px auto;
	    display: block;
	    font-size: 32px;
	    border-bottom: 1px solid #eee;
	    .label, input {
	    	text-align: center;
	    }
	}
	.list[inset] .item:last-child {
		border-bottom-width: 1px !important;
	}
}