woo-list {

	.list-loading-spinner {
	    text-align: center;
	    margin: 5px;

	    ion-spinner * {
		  fill: rgba(0,0,0,.2);
		}

	}

	.item h2 {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 5px;
		color: #444;
	}

	.product-price {
		font-size: 1.6rem;
		font-weight: 500;
		margin-bottom: 5px;
		color: Green;
	}

	.product-description, .product-rating {
		font-size: 1.2rem;
		margin-bottom: 5px;
	}

	.card-featured-image {
		height: 30vh;
	    width: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	}

	&.col-2 .list {
		display: flex;
    	flex-wrap: wrap;

    	.card {
    		width: calc(50% - 15px);
    		margin: 10px 5px 0 10px;
    	}

    	.card:nth-of-type(even) {
			margin-left: 5px;
    	}
	}

	.card-content {
		min-height: 100px;
		padding-bottom: 0;
	}

	.btn-wrap {
		padding: 0 15px 15px 15px;
	}

	.product-action {
		margin-top: 15px
	}
}
