<div class="td-theme-wrap">
  <div class="mobile-menu-wrap">
    <div class="td-header-wrap td-header-style-13">

      <div class="td-header-top-menu-full td-container-wrap td_stretch_container">
        <div class="td-container td-header-row td-header-top-menu">

          <div class="top-bar-style-5">

            <div class="td-header-sp-top-menu">


              <div class="menu-top-container">
                <ul id="menu-top-bar-menu" class="top-header-menu sf-js-enabled">
                  <li id="menu-item-157157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first menu-item-157157">
                    <a href="http://www.winknews.com/events/">Events</a>
                  </li>
                  <li id="menu-item-157158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157158">
                    <a href="http://www.winknews.com/news-tip/">News Tips</a>
                  </li>
                </ul>
              </div>
            </div>

            <div class="td-search-wrapper">
              <div id="td-top-search">
                <!-- Search -->
                <div class="header-search-wrap">
                  <div class="dropdown header-search">
                    <a id="td-header-search-button" href="#" role="button" class="dropdown-toggle " data-toggle="dropdown">
                      <span>SEARCH</span>
                      <i class="td-icon-search"></i>
                    </a>
                    <a id="td-header-search-button-mob" href="#" role="button" class="dropdown-toggle " data-toggle="dropdown">
                      <span>SEARCH</span>
                      <i class="td-icon-search"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-search-wrap">
              <div class="dropdown header-search">
                <div class="td-drop-down-search" aria-labelledby="td-header-search-button">
                  <form #searchForm="ngForm" method="get" class="td-search-form" (ngSubmit)="onSubmit(searchForm)">
                    <div role="search" class="td-head-form-search-wrap">
                      <input [(ngModel)]="searchTerm" id="td-header-search" type="text" value="" name="s" autocomplete="off">
                      <input class="wpb_button wpb_btn-inverse btn" type="submit" id="td-header-search-top" value="Search">
                    </div>
                  </form>
                  <div id="td-aj-search"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="td-header-menu-wrap-full td-container-wrap td_stretch_container" style="height: 55px;">
        <div class="td-header-menu-wrap">
          <div class="td-container td-header-row td-header-main-menu">
            <div id="td-header-menu" role="navigation">
              <ul class="mobile-center-logo-list">

              </ul>
              <div class="menu-mobile-nav-container">
                <ul id="menu-mobile-nav" class="mobile-short-nav">
                  <li id="menu-item-157133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-157124 current_page_item menu-item-first menu-item-157133">
                    <a href="http://www.winknews.com/">News</a>
                  </li>
                  <li class="mobile-logo-list-item">
                    <div id="td-top-mobile-toggle">
                      <a href="#!" (click)="onToggleFooterMenu($event)">
                        <!--<i class="td-icon-font td-icon-mobile"></i>-->
                        <img src="https://cdn.winknews.com/wp-content/uploads/2017/11/icon_73x731.png">
                      </a>
                    </div>
                  </li>
                  <li id="menu-item-157134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157134">
                    <a href="http://www.winknews.com/video/">Video</a>
                  </li>
                </ul>
              </div>
              <ul class="center-logo-menu">

              </ul>
              <div class="menu-main-menu-newspaper-theme-container">
                <ul id="menu-main-menu-newspaper-theme" class="sf-menu sf-js-enabled">
                  <li id="menu-item-157160" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-157124 current_page_item menu-item-has-children menu-item-first menu-item-157160">
                    <a href="http://www.winknews.com/" class="sf-with-ul">News
                      <i class="td-icon-menu-down"></i>
                    </a>
                    <ul class="sub-menu" style="float: none; width: 12.8462em; display: none;">
                      <li id="menu-item-157138" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157138" style="white-space: normal; float: left; width: 100%;">
                        <a href="http://www.winknews.com/top-stories/" style="float: none; width: auto;">Top Stories</a>
                      </li>
                      <li id="menu-item-157139" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-157139" style="white-space: normal; float: left; width: 100%;">
                        <a href="http://www.winknews.com/category/news/lee/" style="float: none; width: auto;">Lee County</a>
                      </li>
                      <li id="menu-item-157140" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-157140" style="white-space: normal; float: left; width: 100%;">
                        <a href="http://www.winknews.com/category/news/collier/" style="float: none; width: auto;">Collier County</a>
                      </li>
                      <li id="menu-item-157141" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-157141" style="white-space: normal; float: left; width: 100%;">
                        <a href="http://www.winknews.com/category/news/charlotte/" style="float: none; width: auto;">Charlotte County</a>
                      </li>
                      <li id="menu-item-157142" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-157142" style="white-space: normal; float: left; width: 100%;">
                        <a href="http://www.winknews.com/category/news/state/" style="float: none; width: auto;">State</a>
                      </li>
                      <li id="menu-item-157159" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-157159" style="white-space: normal; float: left; width: 100%;">
                        <a href="http://www.winknews.com/category/news/national-global/" style="float: none; width: auto;">National &amp; Global</a>
                      </li>
                    </ul>
                  </li>
                  <li id="menu-item-81732" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-81732">
                    <a href="http://www.winknews.com/category/sports/">Sports</a>
                  </li>
                  <li id="menu-item-81731" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-81731">
                    <a href="http://www.winknews.com/category/lifestyle/">Lifestyle</a>
                  </li>
                  <li class="logo-list-item">
                    <div class="td-main-menu-logo td-logo-in-menu td-logo-sticky">

                      <a class="td-mobile-logo td-sticky-mobile" href="http://www.winknews.com/">
                        <img src="https://cdn.winknews.com/wp-content/uploads/2017/11/icon_73x731.png" alt="">
                      </a>
                      <a class="td-header-logo td-sticky-mobile" href="http://www.winknews.com/">
                        <img src="https://cdn.winknews.com/wp-content/uploads/2017/11/wink_solo1.png" alt="">
                        <span class="td-visual-hidden">WINK NEWS</span>
                      </a>

                    </div>
                  </li>
                  <li id="menu-item-81730" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-81730">
                    <a href="http://www.winknews.com/weather/">Weather</a>
                  </li>
                  <li id="menu-item-157145" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157145">
                    <a href="http://www.winknews.com/video/">Video</a>
                  </li>
                  <li id="menu-item-154579" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-154579">
                    <a href="http://www.winknews.com/category/callforaction/">Call for Action</a>
                  </li>
                </ul>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="td-header-header-full td-banner-wrap-full td-container-wrap ">
        <div class="td-container-header td-header-row td-header-header">
          <div class="td-header-sp-recs">
            <div class="td-header-rec-wrap">

            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="td-menu-background"></div>
    <div id="td-mobile-nav">
      <div class="td-mobile-container">
        <!-- mobile menu top section -->
        <div class="td-menu-socials-wrap">
          <!-- socials -->
          <!--<div class="td-menu-socials">
                  
          <span class="td-social-icon-wrap">
              <a target="_blank" href="https://www.facebook.com/winknewstv" title="Facebook">
                  <i class="td-icon-font td-icon-facebook"></i>
              </a>
          </span>            </div>-->
          <div class="td-mobile-search">
            <form #searchForm="ngForm" method="get" class="td-search-form" (ngSubmit)="onSubmit(searchForm)">
              <div role="search" class="td-mobile-form-search-wrap">
                <input [(ngModel)]="searchTerm" id="td-header-search" type="text" value="" name="s" autocomplete="off">
                <input class="wpb_button wpb_btn-inverse btn" type="submit" id="td-header-search-top" value="Search">
              </div>
            </form>
            <div id="td-aj-search"></div>
          </div>
          <!-- close button -->
          <div class="td-mobile-close">
            <a href="#">
              <i class="td-icon-close-mobile"></i>
            </a>
          </div>
        </div>

        <!-- login section -->

        <!-- menu section -->
        <div class="td-mobile-content">
          <div class="menu-full-mobile-nav-container">
            <ul id="menu-full-mobile-nav" class="td-mobile-main-menu">
              <li id="menu-item-157146" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first td-menu-item td-normal-menu menu-item-157146">
                <a href="http://www.winknews.com/top-stories/">Top Stories</a>
              </li>
              <li id="menu-item-157188" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157188">
                <a href="http://www.winknews.com/category/news/national-global/">National &amp; Global</a>
              </li>
              <li id="menu-item-157148" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157148">
                <a href="http://www.winknews.com/category/news/lee/">Lee</a>
              </li>
              <li id="menu-item-157151" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157151">
                <a href="http://www.winknews.com/category/callforaction/">Call for Action</a>
              </li>
              <li id="menu-item-157150" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157150">
                <a href="http://www.winknews.com/category/news/collier/">Collier</a>
              </li>
              <li id="menu-item-157153" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157153">
                <a href="http://www.winknews.com/category/lifestyle/">Lifestyle</a>
              </li>
              <li id="menu-item-157152" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157152">
                <a href="http://www.winknews.com/category/news/charlotte/">Charlotte</a>
              </li>
              <li id="menu-item-157816" class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-157816">
                <a href="http://www.winknews.com/weather/">Weather</a>
              </li>
              <li id="menu-item-157154" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157154">
                <a href="http://www.winknews.com/category/news/state/">State</a>
              </li>
              <li id="menu-item-157155" class="menu-item menu-item-type-taxonomy menu-item-object-category td-menu-item td-normal-menu menu-item-157155">
                <a href="http://www.winknews.com/category/sports/">Sports</a>
              </li>
            </ul>
          </div>
          <div class="menu-top-bar-menu-container">
            <ul id="menu-top-bar-menu-1" class="td-mobile-main-menu">
              <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-first td-menu-item td-normal-menu menu-item-157157">
                <a href="http://www.winknews.com/events/">Events</a>
              </li>
              <li class="menu-item menu-item-type-post_type menu-item-object-page td-menu-item td-normal-menu menu-item-157158">
                <a href="http://www.winknews.com/news-tip/">News Tips</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- register/login section -->
    </div>
  </div>
</div>