<div class="td-theme-wrap" (click)="$event.stopPropagation();">
  <div class="mobile-menu-wrap" data-open="false" (click)="$event.stopPropagation();">
    <div class="td-header-wrap td-header-style-13">

      <div class="td-header-menu-wrap-full td-container-wrap td_stretch_container" style="height: 55px;">
        <div class="td-header-menu-wrap">
          <div class="td-container td-header-row td-header-main-menu">
            <div id="td-header-menu" role="navigation">
              <ul class="mobile-center-logo-list">

              </ul>
              <div class="menu-mobile-nav-container">
                <ul id="menu-mobile-nav" class="mobile-short-nav">
                  <li id="menu-item-157133" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-157124 current_page_item menu-item-first menu-item-157133">
                    <button type="button" (click)="goToHome()">Home</button>
                  </li>
                  <li class="mobile-logo-list-item">
                    <div id="td-top-mobile-toggle">
                      <button type="button" (click)="onToggleFooterMenu($event);$event.stopPropagation();">
                        <!--<i class="td-icon-font td-icon-mobile"></i>-->
                        <img src="assets/icon/footer-nav-logo.png">
                      </button>
                    </div>
                  </li>
                  <li id="menu-item-157134" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157134">
                    <button type="button" (click)="goToVideos()">Video</button>
                  </li>
                </ul>
              </div>
              <ul class="center-logo-menu">

              </ul>
            </div>

          </div>
        </div>
      </div>

    </div>
    
    <div id="td-mobile-nav">
      <div class="td-mobile-container">
        <!-- mobile menu top section -->
        <div class="td-menu-socials-wrap">
          
          <div class="td-mobile-search">
            <form #searchForm="ngForm" method="get" class="td-search-form" (ngSubmit)="onSubmit(searchForm)">
              <div role="search" class="td-mobile-form-search-wrap">
                <input [(ngModel)]="searchTerm" id="td-header-search" type="text" value="" name="s" autocomplete="off">
                <input class="wpb_button wpb_btn-inverse btn" type="submit" id="td-header-search-top" value="Search">
              </div>
            </form>
            <div id="td-aj-search"></div>
          </div>
          <!-- close button -->
          <div class="td-mobile-close">
            <a href="">
              <i class="td-icon-close-mobile"></i>
            </a>
          </div>
        </div>

        <!-- login section -->

        <!-- menu section -->
        <div class="td-mobile-content">
          <div class="menu-full-mobile-nav-container">
            <ul *ngIf="menu" id="menu-full-mobile-nav" class="td-mobile-main-menu">
              <li *ngFor="let page of filteredMenu" id="menu-item-157146" class="menu-item">
                <button type="button" (click)="openPage(page)">{{ page.title }}</button>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <!-- register/login section -->
    </div>
  </div>
</div>
