<ion-header>
	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
			    <ion-icon name="arrow-back"></ion-icon>
			    {{'Back' | translate }}
			</button>

			<button ion-button menuToggle *ngIf="!selectedItem">
			  <ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<ion-title></ion-title>
		
	</ion-navbar>
</ion-header>

<ion-content>

	<ion-item *ngIf="selectedItem">

		<ion-avatar item-start>
		  <img *ngIf="selectedItem.user_avatar && selectedItem.user_avatar.thumb" src="https:{{selectedItem.user_avatar.thumb}}">
		  <img *ngIf="!selectedItem.user_avatar || !selectedItem.user_avatar.thumb" src="assets/default.png">
		</ion-avatar>

		<h2 *ngIf="selectedItem.title" [innerHTML]="selectedItem.title"></h2>

		<div *ngIf="content" class="item-content" [innerHTML]="content"></div>

	</ion-item>

	<ion-list class="activity-comments" *ngIf="activityComments">

		<ion-item *ngFor="let comment of activityComments">

			<span class="comment-name" *ngIf="comment.display_name" [innerHTML]="comment.display_name"></span>

			<span class="comment-content" *ngIf="comment.content" [innerHTML]="comment.content"></span>

		</ion-item>

	</ion-list>

	<ion-spinner class="comments-spinner" *ngIf="!commentsLoaded"></ion-spinner>

</ion-content>