<ion-header>
	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
			    <ion-icon name="arrow-back"></ion-icon>
			    {{'Back' | translate }}
			</button>

			<button ion-button menuToggle *ngIf="!selectedItem">
			  <ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<ion-title></ion-title>
		
	</ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">

    <div *ngIf="content" [innerHTML]="content"></div>

 </div>

 <ion-list *ngIf="activityComments">

    <ion-item *ngFor="let comment of activityComments">

        <h2 *ngIf="comment.display_name" [innerHTML]="comment.display_name"></h2>

        <div class="comment-content" *ngIf="comment.content" [innerHTML]="comment.content"></div>
    </ion-item>

 </ion-list>

</ion-content>