bp-details {
	.comment-name {
		font-weight: bold;
		margin-right:8px;
	}

	.list-md.activity-comments {
		border-top: 1px solid #eee;
	}

	.comments-spinner {
		width: 100%;
    	opacity: .3;
    	margin-top: 15px;
	}

	.card {
		box-shadow: none;
		border: none;
	}
}