<ion-header>

  <ion-navbar>
    
    <ion-buttons start>
    <button *ngIf="rtlBack||is_registration_page" (click)="backRtlTransition()" ion-button class="custom-back-button">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'Back' | translate }}
    </button>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    </ion-buttons>

    <img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

    <ion-title *ngIf="!show_header_logo && !singleThread">{{ title | translate }}</ion-title>

    <div *ngIf="singleThread" class="message-header-sender">

      <img *ngIf="navParams.data.senderAvatar" [src]="navParams.data.senderAvatar" class="message-header-avatar">

      <!-- <span class="message-header-name" *ngIf="navParams.data.senderName">{{ navParams.data.senderName }}</span> -->

    </div>

    <ion-buttons end>

      <button ion-button *ngIf="!singleThread" (tap)="newMessage()">
        <ion-icon name="ios-send"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

  <ion-item *ngIf="messageSegments" id="favorites-toolbar" color="light">

    <ion-select [(ngModel)]="segment" (ionChange)="segmentChanged()" placeholder="Inbox">

      <ion-option *ngFor="let segment of messageSegments" [value]="segment.name">{{ segment.name | translate }}</ion-option>

    </ion-select>

  </ion-item>

</ion-header>

<ion-content #content [ngClass]="customClasses">

  <!-- <ion-infinite-scroll *ngIf="singleThread" (ionInfinite)="loadMore($event)" position="top">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <div *ngIf="threads && !singleThread">

    <ion-list no-lines>

        <ion-item *ngFor="let thread of threads" (tap)="loadThread(thread)">
          <ion-avatar item-start>
            <img *ngIf="thread.sender_data && thread.sender_data.avatar" [src]="formatUrl( thread.sender_data.avatar )">
            <img *ngIf="!thread.sender_data || !thread.sender_data.avatar" src="assets/default.png">
          </ion-avatar>
          <p *ngIf="thread.sender_data && thread.sender_data.name"><strong>{{ thread.sender_data.name }}</strong></p>
          <p class="message-preview"><strong *ngIf="thread.subject && thread.subject != 'undefined'" [innerHTML]="getSubject( thread.subject )"></strong> <span [innerHTML]=" thread.message"></span></p>
          <p *ngIf="thread.date" class="message-date">{{ thread.date }}</p>
          
        </ion-item>

    </ion-list>

  </div>

  <div *ngIf="threads && singleThread">

    <ion-list no-lines class="single-message-thread">

        <ion-item *ngFor="let message of threads.messages.reverse()" [ngClass]="{ 'my-reply' : message.sender_id == login_data.user_id }" text-wrap>
          <ion-avatar item-start>
            <img *ngIf="message.sender_data && message.sender_data.avatar" [src]="formatUrl( message.sender_data.avatar )">
            <img *ngIf="!message.sender_data || !message.sender_data.avatar" src="assets/default.png">
            <p *ngIf="message.sender_data && message.sender_data.name" class="sender-name">{{ message.sender_data.name }}</p>
          </ion-avatar>
            
            <p class="message-preview"><strong>{{ getSubject( message.subject ) }}</strong> <span [innerHTML]=" message.message | doLinks"></span></p>

        </ion-item>

    </ion-list>

  </div>

  <ion-item *ngIf="!threads">{{ 'No items to show.' | translate }}</ion-item>

</ion-content>

<ion-footer no-border>
  <ion-toolbar *ngIf="threads && singleThread">
    <ion-grid>
      <ion-row>
        <ion-col col-10>
          <ion-input [(ngModel)]="threadReply" name="threadReply" type="text" (keyup.enter)="replyToThread()"></ion-input>
        </ion-col>
        <ion-col col-2 text-center>
          <button block ion-button icon-only (tap)="replyToThread()">
            <ion-icon name="ios-send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>