<ion-header>

  <ion-navbar>
    
    <ion-buttons start>
    <button *ngIf="rtlBack||is_registration_page" (click)="backRtlTransition()" ion-button class="custom-back-button">
        <ion-icon name="arrow-back"></ion-icon>
        {{ 'Back' | translate }}
    </button>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    </ion-buttons>

    <img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

    <ion-title *ngIf="!show_header_logo">{{title | translate}}</ion-title>

    <ion-buttons end>

      <button ion-button *ngIf="singleThread" (tap)="replyToThread()">
        <ion-icon name="ios-send"></ion-icon>
      </button>

      <!-- <button ion-button *ngIf="!singleThread" (tap)="newMessage()">
        <ion-icon name="ios-send"></ion-icon>
      </button> -->
    </ion-buttons>

  </ion-navbar>

  <ion-item *ngIf="messageSegments" id="favorites-toolbar" color="light">

    <ion-select [(ngModel)]="segment" (ionChange)="segmentChanged()" placeholder="Inbox">

      <ion-option *ngFor="let segment of messageSegments" [value]="segment.name">{{segment.name}}</ion-option>

    </ion-select>

  </ion-item>

</ion-header>

<ion-content #content [ngClass]="customClasses">

  <!-- <ion-infinite-scroll *ngIf="singleThread" (ionInfinite)="loadMore($event)" position="top">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->

  <div *ngIf="threads && !singleThread">

    <ion-list no-lines>

        <ion-item *ngFor="let thread of threads" (tap)="loadThread(thread)">
          <ion-avatar item-start>
            <img *ngIf="thread.sender_data && thread.sender_data.avatar" [src]="formatUrl( thread.sender_data.avatar )">
            <img *ngIf="!thread.sender_data || !thread.sender_data.avatar" src="assets/default.png">
          </ion-avatar>
          <p *ngIf="thread.sender_data && thread.sender_data.name"><strong>{{ thread.sender_data.name }}</strong></p>
          <p class="message-preview"><span *ngIf="thread.subject && thread.subject != 'undefined'"><strong>{{ thread.subject }}:</strong></span> {{ thread.message }}</p>
          
        </ion-item>

    </ion-list>

  </div>

  <div *ngIf="threads && singleThread">

    <ion-list no-lines class="single-message-thread">

        <ion-item *ngFor="let message of threads.messages.reverse()" [ngClass]="{ 'my-reply' : message.sender_id == login_data.user_id }" text-wrap>
          <ion-avatar item-start>
            <img *ngIf="message.sender_data && message.sender_data.avatar" [src]="formatUrl( message.sender_data.avatar )">
            <img *ngIf="!message.sender_data || !message.sender_data.avatar" src="assets/default.png">
            <p *ngIf="message.sender_data && message.sender_data.name" class="sender-name">{{ message.sender_data.name }}</p>
          </ion-avatar>
            
            <p class="message-preview"><span *ngIf="message.subject && message.subject != 'undefined'"><strong>{{ message.subject }}:</strong></span> {{ message.message }}</p>

        </ion-item>

    </ion-list>

  </div>

  <ion-item *ngIf="!threads">{{ 'No items to show.' | translate }}</ion-item>

</ion-content>

<ion-footer no-border>
  <ion-toolbar *ngIf="threads && singleThread">
    <button block ion-button icon-start clear (tap)="replyToThread()">
      <ion-icon name="ios-send"></ion-icon>
      Reply
    </button>
  </ion-toolbar>
</ion-footer>