bp-messages {

	.footer .toolbar {

		border-top: 1px solid #eee;
		padding: 0;

		.toolbar-background {
			background: #fff;
		}

	}

	.single-message-thread {

		clear: both;
		overflow: hidden;
		padding-bottom: 20px;

		.item {
			margin: 3px 100px 3px 15px;
			width: auto;
			display: flex;
			float: left;
			clear: both;
			min-height: 10px;
			padding-left: 0;
		}

		.item-inner {
			background-color: #eee;
			border-radius: 10px;
			padding: 0 10px;
			flex: inherit;
		}

		ion-avatar {
			margin: 0 16px 0 0 !important;
		}

		ion-avatar img {
			height: 25px;
			width: 25px;
			display: block;
			margin: auto;
		}

		.sender-name {
			font-size: 12px;
			opacity: .7;
			text-align: center;
		}

		.my-reply {

			&.item {
				margin-right: 15px;
				margin-left: 100px;
				display: block;
				float: right;
			}

			ion-avatar, .sender-name {
				display: none;
			}

			.item-inner {
				background-color: #3AA6FC;

				.input-wrapper, label, p {
					color: #fff;
				}

			}
		}
	}
}