<form (ngSubmit)="submitForm(iapForm)" #iapForm="ngForm">

  <ion-list>

    <ion-item *ngIf="firstName" class="ap-form-text">
      <ion-label>{{ 'First Name' | translate }}</ion-label>
      <ion-input ngModel name="first" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="lastName" class="ap-form-text">
      <ion-label>{{ 'Last Name' | translate }}</ion-label>
      <ion-input ngModel name="last" type="text"></ion-input>
    </ion-item>

    <ion-item *ngIf="email && noLogin != 'true'" class="ap-form-email">
      <ion-label>{{ 'Your Email' | translate }}</ion-label>
      <ion-input ngModel name="email" type="email"  autocomplete="true"></ion-input>
    </ion-item>

    <ion-item *ngIf="!login_data && noLogin != 'true'" class="ap-form-text">
      <ion-label>{{ 'Username' | translate }}</ion-label>
      <ion-input ngModel name="username" type="text"  autocorrect="off" autocapitalize="none"></ion-input>
    </ion-item>

    <ion-item *ngIf="!login_data && noLogin != 'true'" class="ap-form-text">
      <ion-label>{{ 'Password' | translate }}</ion-label>
      <ion-input ngModel name="password" type="text"  autocorrect="off" autocapitalize="none"></ion-input>
    </ion-item>
    
    <div class="ap-form-checkbox">
      <input type="checkbox" ngModel name="restore" aria-checked="false" checked="false"> <label for="restore">{{ 'Restore purchase?' | translate }}</label>
    </div>

  </ion-list>
  
  <div padding class="ap-form-submit">
    <button ion-button type="submit" block>{{ 'Purchase' | translate }}</button>
  </div>

  <p *ngIf="isIos && isSubscription != 'false'" class="manage-subscriptions-link"><a href="https://buy.itunes.apple.com/WebObjects/MZFinance.woa/wa/manageSubscriptions" target="_system">Manage subscription</a></p>

</form>