<div [innerHTML]="styles"></div>

<ion-menu class="{{customClasses}}" side="{{menu_side}}" *ngIf="pages" [content]="content" swipeEnabled="false" (ionOpen)="menuOpened()" (ionClose)="menuClosed()">

  <ion-header>
    <ion-toolbar>
      <ion-title></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <ion-list-header text-wrap *ngIf="login_data">
        <ion-avatar *ngIf="login_data.avatar">
          <img [src]="login_data.avatar" />
        </ion-avatar>
        <p class="loggedin-msg"><b>{{login_data.message | translate}}</b></p>
        
      </ion-list-header>

      <button [ngClass]="p.extra_classes" ion-item *ngFor="let p of pages" (click)="menuLink(p, $event)">
        <ion-icon *ngIf="p.class" name="{{p.class}}" item-left></ion-icon>
        {{p.title | translate}}
      </button>

      <button *ngIf="showLogin" ion-button block icon-left class="menu-login-button" (click)="openLoginModal()">
      <ion-icon name="log-in"></ion-icon>
      <span *ngIf="login_data">{{ 'Logout' | translate }}</span><span *ngIf="!login_data">{{ 'Login' | translate }}</span></button>

    </ion-list>

  </ion-content>

</ion-menu>

<ion-nav id="nav" #content swipeBackEnabled="false" class="{{customClasses}}"></ion-nav>