// Custom fonts
@import "../fonts/roboto-font";
@import "../fonts/oswald-font";
@import "../fonts/merriweather-font";
@import "../fonts/lato-font";
@import "../fonts/roboto-slab-font";

$roboto-font: "Roboto", "Helvetica Neue", sans-serif !default;
$roboto-slab-font: "Roboto Slab", sans-serif !default;
$oswald-font: "Oswald", "Helvetica Neue", sans-serif !default;
$merriweather-font: "Merriweather", Times, serif !default;
$lato-font: "Lato", "Helvetica Neue", sans-serif !default;

.body-font-roboto ion-app.md, .body-font-roboto ion-app.ios {
	$font-family-base: $roboto-font;
	ion-menu, ion-page, ion-content {
		font-family: $roboto-font;
	}
}

.body-font-roboto-slab ion-app.md, .body-font-roboto-slab ion-app.ios {
	$font-family-base: $roboto-slab-font;
	ion-menu, ion-page, ion-content {
		font-family: $roboto-slab-font;
	}
}

.body-font-oswald ion-app.md, .body-font-oswald ion-app.ios {
	$font-family-base: $oswald-font;
	ion-menu, ion-page, ion-content {
		font-family: $oswald-font;
	}
}

.body-font-merriweather ion-app.md, .body-font-merriweather ion-app.ios {
	$font-family-base: $merriweather-font;
	ion-menu, ion-page, ion-content {
		font-family: $merriweather-font;
	}
}

.body-font-lato ion-app.md, .body-font-lato ion-app.ios {
	$font-family-base: $lato-font;
	ion-menu, ion-page, ion-content {
		font-family: $lato-font;
	}
}

.headings-font-roboto ion-app.md, .headings-font-roboto ion-app.ios {
	h1, h2, h3, h4, h5, h6, .menu-inner .item, .menu-login-button span, .button-default, .tab-button-text, .toolbar-title, .toolbar .button-inner, #favorites-toolbar ion-select {
	 	font-family: $roboto-font;
	}
}

.headings-font-roboto-slab ion-app.md, .headings-font-roboto-slab ion-app.ios {
	h1, h2, h3, h4, h5, h6, .menu-inner .item, .menu-login-button span, .button-default, .tab-button-text, .toolbar-title, .toolbar .button-inner, #favorites-toolbar ion-select {
	 	font-family: $roboto-slab-font;
	}
}

.headings-font-oswald ion-app.md, .headings-font-oswald ion-app.ios {
	h1, h2, h3, h4, h5, h6, .menu-inner .item, .menu-login-button span, .button-default, .tab-button-text, .toolbar-title, .toolbar .button-inner, #favorites-toolbar ion-select {
	 	font-family: $oswald-font;
	}
}

.headings-font-merriweather ion-app.md, .headings-font-merriweather ion-app.ios {
	h1, h2, h3, h4, h5, h6, .menu-inner .item, .menu-login-button span, .button-default, .tab-button-text, .toolbar-title, .toolbar .button-inner, #favorites-toolbar ion-select {
	 	font-family: $merriweather-font;
	}
}

.headings-font-lato ion-app.md, .headings-font-lato ion-app.ios {
	h1, h2, h3, h4, h5, h6, .menu-inner .item, .menu-login-button span, .button-default, .tab-button-text, .toolbar-title, .toolbar .button-inner, #favorites-toolbar ion-select {
	 	font-family: $lato-font;
	}
}