// global styles
.design1 {

	.post-detail {
		font-size: 1.6rem;
	}

	.post-list, ap-list .list {
		.item {
			border-bottom: 1px solid #eee;
		}
		.item-inner {
			border-bottom: none;
		}
	}

	.header .bar-button .icon[name="menu"] {
		font-size: 3rem;
		&:before {
			content: "\f1c2";
		}
		
	}

	.menu-inner  {

		.content {
			background-image: linear-gradient(to bottom, rgba(255,255,255,.2), rgba(0,0,0,.2));
		}

		.item {
			background: transparent;
		}

		ion-list .button.menu-login-button {
			margin: 15px 0;
			width: 100%;
			border-radius: 0;
			box-shadow: none;
			min-height: 50px;
		}
	}

	page-login-modal {
	
		.scroll-content, .button-block {
			// fixes button positioning in chrome
			contain: none;
		}

		#registration-form {
			margin: 40px 0 80px 0;
			width: 100%;
		}

		.logout-message {
			width: 500px;
			margin: 0 auto;
			text-align: center;
		}

		.scroll-content {
			display: flex;
			align-items: center;
		}

		.login-form, .lost-pw-form {
			width: 100%;
			border-radius: 5px;
			padding: 15px;
			background: #eee;
			margin: -10px 15px 15px;

			div[padding] {
				padding: 0;
				margin: 20px 0;
			}

			.gray-text {
				margin-top: 0;
			}

			.appforgotpassword {
				margin-top: 15px;
				display: inline-block;
				width: 100%;
			}
		}

		.item-input {
			padding-left: 0;
		}

	}


}

// android only
.design1 ion-app.md {

	h1, h2 {
		margin-bottom: 10px;
	}

	h1 {
		font-size: 4rem;
	}

	h2 {
		font-size: 3rem;
	}

	h3 {
		font-size: 2rem;
	}

	h4 {
		font-size: 1.8rem;
	}

	blockquote {
		font-style: italic;
	}

	// global styles
	.post-detail, .post-detail p {
		font-size: 1.6rem;
		line-height: 1.5;

		
	}
	
	.card-md {
		border-radius: 4px;
		box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
		margin-top: 10px;
		margin-bottom: 10px;
		border-bottom: none;

		.card-title-md  {
			padding-bottom: 0;
			h2 {
				font-size: 2rem;
			}
		}

		p {
			font-size: 1.6rem;
		}
	}

	.button-default {
		box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12);
		letter-spacing: .06em;
	}

	.list {

		.item h2 {
			font-size: 1.6rem;
			margin-bottom: 5px;
		}
	}

	.menu-inner {

		ion-avatar {
			float: left;
			margin-left: 15px;
			margin-right: 20px;
		}

		p.loggedin-msg {
			text-align: left;
		}

		.list-md {

			.item {
				border-bottom: none;
				font-size: 1.8rem;
				background-color: transparent;

				ion-icon {
					margin-right: 0;
				}
			}
		}

		.list-header {
			background-color: rgba(0,0,0,.15);
		}

	}

	.bp-list, bp-details {

		.comment-name {
			margin-bottom: 5px;
			display: block;
		}

		.card-md {
			padding-top: 5px;

			.card-content img {
				margin: 10px -15px;
				min-width: calc( 100% + 30px);
			}
		}
	}

}

// ios only
.design1 ion-app.ios {

	.card-ios {
		border-radius: 8px;
		box-shadow: 0 4px 16px rgba(0,0,0,.12);
		margin-top: 24px;
		margin-bottom: 24px;
	}

	.item-ios ion-avatar img {
	    border-radius: 25%;
	    width: 44px;
	    height: 44px;
	}

	.button-default.button-ios {
		border-radius: 25px;
		box-shadow: none;

		&.button-large {
			border-radius: 50px;
		}
	}

	.button-small {
		border-radius: 15px;
	}

	.card-title  {
		h2 {
			font-size: 2.2rem;
		}

		p {
			font-size: 1.6rem;
		}
	}

	.list {
		.item h2 {
			font-size: 1.8rem;
			margin-bottom: 5px;
		}
	}

	.bp-list, bp-details {

		.comment-name {
			margin-bottom: 5px;
			display: block;
		}

		.card-ios {
			padding-top: 5px;

			.card-content img {
				margin: 10px -15px;
				min-width: calc( 100% + 30px);
			}
		}
	}

	.menu-inner ion-list .button.menu-login-button {
		margin: 15px auto;
    	width: 275px;
	}

	page-login-modal .modal-footer {

		.button-default.button-ios {
			border-radius: 0;
		}
		
	}

}