<ion-header>

  <ion-toolbar>
  
    <ion-title>{{ 'Login' | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button *ngIf="!force_login && !login_data || login_data || (is_preview && force_login)" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

	<form (ngSubmit)="doLogin()" padding *ngIf="!login_data">

      <ion-item>
        <ion-label stacked>{{ 'Username' | translate }}</ion-label>
        <ion-input type="text" [(ngModel)]="login.user" name="user" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked>{{ 'Password' | translate }}</ion-label>
        <ion-input type="password" [(ngModel)]="login.pass" name="pass" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"></ion-input>
      </ion-item>
      
      <div padding>
      <button ion-button type="submit" block>{{ 'Submit' | translate }}</button>
      </div>

      <div *ngIf="fb_login">

          <div class="login-div-wrap">
            <div><div class="login-div"></div><div class="login-div-text">or</div><div class="login-div"></div></div>
          </div>

          <div class="appfbconnectlogin">
            <button href="#" type="button" (click)="doFBLogin()">
              <span class="fb-icon"></span>
              <span class="fb-login-text">{{ 'Login with Facebook' | translate }}</span>
            </button>
          </div>

      </div>

      <div *ngIf="register_link">

        <span class="register-link" (touchend)="register( $event )">{{ 'Register' | translate }}</span>

      </div>
    </form>

	<div padding *ngIf="login_data">
		{{login_data.message}}
    	<button ion-button block (click)="doLogout()">{{ 'Click here to logout' | translate }}</button>
    </div>

</ion-content>