<ion-header class="{{customClasses}}">

  <ion-toolbar>
  
    <ion-title>{{ title | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content class="{{customClasses}}">

  <p padding *ngIf="noResults">Please choose different options.</p>

  <ion-slides class="variation-slider" *ngIf="filteredVariations?.length && !noResults" pager>
    <ion-slide *ngFor="let variation of filteredVariations">
      <ion-card>
      <img src="{{variation.image.src}}" />
      <ion-card-content>
      <span class="currency-symbol" *ngIf="currencySymbol" [innerHTML]="currencySymbol"></span> {{variation.price}}  
      <div *ngFor="let attr of variation.attributes">
        {{attr.name}}: {{attr.option}}</div>
      </ion-card-content>
    </ion-card>
    </ion-slide>
  </ion-slides>

  <h2 padding>Select an option below</h2>

  <div *ngIf="attributes?.length">
    <ion-item *ngFor="let attribute of attributes">
      <ion-label stacked>{{attribute.name}}</ion-label>
      <ion-select [disabled]="attribute.disabled" (ionChange)="attributeChanged( $event, attribute )" ngModel name="{{attribute.id}}" >
        <ion-option *ngFor="let option of attribute.options" value="{{option}}">
          {{option}}
        </ion-option>
      </ion-select>
    </ion-item>
  </div>

  <button ion-button color="primary" block *ngIf="filteredVariations.length === 1" (click)="variationSelected(filteredVariations[0])">Add to Cart</button>

  <button block ion-button clear icon-start (click)="resetOptions()"><ion-icon name="refresh"></ion-icon> Reset Options</button>

</ion-content>