ap-list {
	.list-loading-spinner {
	    text-align: center;
	    margin: 5px;

	    ion-spinner * {
		  fill: rgba(0,0,0,.2);
		}

	}

	&.col-2 .list {
		display: flex;
    	flex-wrap: wrap;

    	.card {
    		width: calc(50% - 15px);
    		margin: 10px 5px 0 10px;
    	}

    	.card:nth-of-type(even) {
			margin-left: 5px;
    	}
	}

	.card-featured-image {
		height: 15vh;
	    width: 100%;
	    background-repeat: no-repeat;
	    background-size: cover;
	}
}
