<div class="list-loading-spinner" *ngIf="loading"><ion-spinner name="bubbles"></ion-spinner></div>

<div *ngIf="refresh && !loading" class="list-refresher">
  <ion-icon name="refresh" (tap)="doRefresh()"></ion-icon>
  <span (tap)="doRefresh()">{{ 'Refresh' | translate }}</span>
</div>

<ion-list *ngIf="card">

    <ion-card (click)="loadDetail(item)" *ngFor="let item of items">
      
      <div class="card-featured-wrap" *ngIf="item.featured_image_urls">
        <div class="card-featured-image" [ngStyle]="{'background-image': 'url('+ getBgImage( item ) +')'}"></div>
      </div>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

      <ion-card-content>

        <ion-card-title *ngIf="item.title && item.title.rendered">
          <h2 [innerHTML]="item.title.rendered"></h2>
        </ion-card-title>

        <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

        <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="truncateString( item.excerpt.rendered )"></p>

        <div class="item-content" *ngIf="!item.excerpt && item.content.rendered" [innerHTML]="truncateString( item.content.rendered )"></div>

      </ion-card-content>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

    </ion-card>

</ion-list>

<ion-list *ngIf="!card">

	<ion-item-sliding *ngFor="let item of items" #slidingItem>
      <button ion-item (click)="loadDetail(item)">

      <ion-avatar item-left *ngIf="item.featured_image_urls">
        <img *ngIf="item.featured_image_urls && item.featured_image_urls.thumbnail" src="{{item.featured_image_urls.thumbnail}}">
        <img *ngIf="!item.featured_image_urls || !item.featured_image_urls.thumbnail" src="assets/default.png">
      </ion-avatar>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.above_title" [innerHTML]="item.appp.post_list.above_title"></div>

      <h2 *ngIf="item.title && item.title.rendered" [innerHTML]="item.title.rendered"></h2>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_title" [innerHTML]="item.appp.post_list.below_title"></div>

      <p *ngIf="item.excerpt && item.excerpt.rendered" [innerHTML]="truncateString( item.excerpt.rendered )"></p>

      <div class="item-content" *ngIf="!item.excerpt && item.content.rendered" [innerHTML]="truncateString( item.content.rendered )"></div>

      <div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.below_content" [innerHTML]="item.appp.post_list.below_content"></div>

      </button>

      <ion-item-options side="right" *ngIf="favorites">
        <button ion-button color="primary" (click)="addFav(slidingItem, item)">
          <ion-icon name="star-outline"></ion-icon>
          {{ 'Favorite' | translate }}
        </button>
      </ion-item-options>
    </ion-item-sliding>

</ion-list>

<ion-infinite-scroll *ngIf="infiniteScroll" (ionInfinite)="loadMore($event)">
<ion-infinite-scroll-content></ion-infinite-scroll-content>
</ion-infinite-scroll>