<ion-header>
  <ion-toolbar>
    <ion-title>
      <div [ngClass]="{'toolbar-title':true, 'toolbar-title-md':device.platform != 'iOS', 'toolbar-title-io':device.platform == 'iOS'}" [innerHTML]="title | sanitizeHtml"></div>
    </ion-title>
    <ion-buttons end>
      <!-- remove autoplay button for PDFs -->
      <button ion-button *ngIf="currentItem.type!=''" [ngClass]="{'autoplay-btn':true, 'deactivate':!autoPlay}" (click)="toggleAutoPlay()">
        <span *ngIf="autoPlay">{{'Autoplay:on' | translate}}</span>
        <span *ngIf="!autoPlay">{{'Autoplay:off' | translate}}</span>
      </button>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

    <img [src]="source" *ngIf="!showVideoPlayer && !isPdf" class="media-modal-full-image" />

    <!-- <pdf-viewer *ngIf="isPdf" [src]="pdfSrc" [original-size]="false" [render-text]="false" style="display: block;max-width:100%"></pdf-viewer> -->

    <object *ngIf="isPdf" [data]="pdfSrc" width="100%" height="100%" type='application/pdf'>
      <p>Sorry, the PDF couldn't be displayed.</p>
      <a [href]="pdfSrc" target="_system">Click Here</a>
    </object>

    <vg-player *ngIf="showVideoPlayer" (onPlayerReady)="onPlayerReady($event)">
        <vg-overlay-play *ngIf="image" [ngStyle]="{'background-image': 'url(' + image + ')'}"></vg-overlay-play>
        <vg-overlay-play *ngIf="!image"></vg-overlay-play>
        <vg-buffering></vg-buffering>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-controls>
            <vg-play-pause></vg-play-pause>
            <vg-playback-button></vg-playback-button>

            <vg-time-display property="current" format="mm:ss"></vg-time-display>

            <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>

            <!-- <vg-time-display property="left" format="mm:ss"></vg-time-display> -->
            <vg-time-display property="total" format="mm:ss"></vg-time-display>

            <!-- <vg-track-selector></vg-track-selector>
            <vg-mute></vg-mute> -->
            <vg-volume></vg-volume>

            <vg-fullscreen></vg-fullscreen>
        </vg-controls>

        <!-- <video [vgMedia]="media" #media preload="auto" crossorigin>
            <source [src]="source">
        </video> -->
        <video #media
           [vgMedia]="media"
           [src]="currentItem.src"
           id="singleVideo"
           preload="auto"
           crossorigin>
        </video>
    </vg-player>

</ion-content>