<ion-header>
	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
			    <ion-icon name="arrow-back"></ion-icon>
			    {{'Back' | translate }}
			</button>

			<button ion-button menuToggle>
			  <ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<ion-title *ngIf="groupData">{{ groupData.name }}</ion-title>
		
	</ion-navbar>
</ion-header>

<ion-content>

	<div *ngIf="groupData">

		<div *ngIf="groupData && groupData.appp && groupData.appp.above_content" [innerHTML]="groupData.appp.above_content | sanitizeHtml"></div>

		<img class="group-cover-image" *ngIf="groupData.cover_image" [src]="groupData.cover_image" />

		<ion-item>
			<ion-avatar item-start *ngIf="groupData.avatar_urls">
				<img *ngIf="groupData.avatar_urls && groupData.avatar_urls.full" src="{{groupData.avatar_urls.full}}">
				<img *ngIf="!groupData.avatar_urls.full" src="{{groupData.avatar_urls.thumb}}">
			</ion-avatar>
			<h2 class="group-name" *ngIf="groupData.name" [innerHTML]="groupData.name"></h2>
			<p style="white-space:normal" *ngIf="groupData.description" [innerHTML]="groupData.description"></p>
			<p class="member-count">{{ groupData.total_member_count }} {{ 'members' | translate }}</p>
		</ion-item>

		<ion-row>
			<ion-col *ngIf="!groupData.is_user_member" text-center>
				<button ion-button icon-start small clear (click)="joinGroup()"><span *ngIf="!join_pending"><ion-icon name="add"></ion-icon> {{ 'Join Group' | translate }}</span> <ion-badge *ngIf="join_pending">{{ 'Pending' | translate }}</ion-badge></button>
			</ion-col>
			<ion-col text-center *ngIf="groupData.is_user_member">
				<button ion-button icon-start small clear (click)="groupActivity()"><ion-icon name="list"></ion-icon> {{ 'Group Activity' | translate }}</button>
			</ion-col>
			<ion-col text-center>
				<button ion-button icon-start small clear (click)="iabLink(groupData.link)"><ion-icon name="cog"></ion-icon> {{ 'Group Details' | translate }}</button>
			</ion-col>
		</ion-row>

		<div *ngIf="groupData && groupData.appp && groupData.appp.below_content" [innerHTML]="groupData.appp.below_content | sanitizeHtml"></div>

	</div>

</ion-content>