page-woo-detail {

	.single-product-content {
		padding: 20px;
	}

	.swiper-slide {
		max-height: 300px;
	}

	.slides {
		background-color: #fafafa;
	}

	.item h2 {
		font-size: 1.8rem;
		font-weight: bold;
		margin-bottom: 5px;
		color: #444;
	}

	.product-price, .product-stock {
		font-size: 1.8rem;
		font-weight: 500;
		margin-bottom: 5px;
		color: Green;
	}

	.product-quantity.item {
		padding-left: 0;
		max-width: 120px;
		.item-inner {
			border: none;
			padding: 0 5px;
			margin-left: 0;
			text-align: center;
		}
	}

	.grouped-product {
		.product-price {
			font-size: 1.4rem;
			margin-bottom: 0;
			font-weight: normal;
		}
		.product-name {
			font-weight: bold;
		}
		.product-quantity {
			font-size: 2rem;
			span {
				display: inline-block;
				max-width: 32%;
				overflow: hidden;
				font-size: 1.7rem;
				margin-top: 3px;
			}
		}
		ion-icon[name="add-circle"] {
			float:right;
		}
		ion-icon[name="remove-circle"] {
			float:left;
		}
	}

	.item ion-icon[item-left], .item ion-icon[item-right], .item ion-icon[item-start], .item ion-icon[item-end] {
		margin: 0;
	}

	.button[type="submit"] {
		margin-top: 15px;
	}

	.toolbar button, .toolbar .badge {
		transition: background-color 500ms ease-out;
		background-color: transparent;
	}

	button.item-added {
		
		background-color: rgba(247,247,187,.4);

		.badge {
			background-color: transparent !important
		}
	}

	.product-reviews .star-rating-wrap {
		margin: 5px 0;
	}

	.reviewer-name {
		font-weight: bold;
	}

	.item.add-to-list {
		margin: 15px 0;
		background-color: #eee;
		
		.item-inner {
			border-bottom: none;
		}

		.add-to-list-text {
			font-size: 1.6rem;
		}
	}

}

// global
.star-rating-wrap {
	height: 25px;
	overflow: hidden;

	.star-off, .star-on {
	  height: 20px; 
	  width: 20px;
	  display: inline-block;
	}
	.star-off { fill:#c0c0c0; stroke:#c0c0c0 }
	.star-on { fill:#ffd83d; stroke:#eac328 }
}