<ion-header>

  <ion-navbar>

	<ion-buttons start>
		<button ion-button menuToggle>
		<ion-icon name="menu"></ion-icon>
		</button>
	</ion-buttons>
	
    <ion-title *ngIf="selectedItem?.name"><span [innerHTML]="selectedItem.name"></span></ion-title>

    <ion-buttons end>
		<button ion-button (click)="showCart()" [ngClass]="{ 'item-added' : itemAdded  }">
			<ion-icon name="cart"></ion-icon>
			<ion-badge color="clear" item-end>{{cart_count}}</ion-badge>
		</button>
	</ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

 <section *ngIf="selectedItem" class="single-product">

 	<ion-slides pager class="single-product-images" *ngIf="selectedItem.images">

	  <ion-slide *ngFor="let image of selectedItem.images">
		<img src="{{image.src}}" class="product-image" imageViewer />
	  </ion-slide>

	</ion-slides>

	<div class="single-product-content">

		<button class="product-share" ion-button icon-only clear (click)="share()"><ion-icon name="ios-share-outline"></ion-icon></button>

	    <h2 class="product-title" [innerHTML]="selectedItem.name"></h2>

	    <p *ngIf="selectedItem.price_html" class="product-price" [innerHTML]="selectedItem.price_html"></p>

	    <p *ngIf="!selectedItem.price_html && selectedItem.price">{{ selectedItem.price }}</p>

	    <star-rating [rating]="selectedItem.average_rating"></star-rating>

		<div class="product-description" *ngIf="description" [innerHTML]="description"></div>

		<p *ngIf="selectedItem.in_stock" class="product-stock">{{ '✓ In Stock.' | translate }}</p>

		<form (ngSubmit)="addToCart(addToCartForm)" #addToCartForm="ngForm">

			<!-- <div *ngIf="variations">
				<ion-item *ngIf="variations.length">
					<ion-label stacked>Options</ion-label>
					<ion-select ngModel name="variation_id">
						<ion-option *ngFor="let variation of variations" value="{{variation.id}}">
							{{variation.price}} - 
							<div *ngFor="let attr of variation.attributes">
								{{attr.name}} : {{attr.option}}
							</div>
						</ion-option>
					</ion-select>
				</ion-item>
			</div> -->

			<div *ngIf="!groupedProducts?.length && availableAttributes.length">
				<ion-item *ngFor="let attribute of availableAttributes">
					<ion-label stacked>{{attribute.name}}</ion-label>
					<ion-select (ionChange)="variationChanged( $event, attribute )" ngModel name="{{attribute.id}}" >
						<ion-option *ngFor="let option of attribute.options" value="{{option}}">
							{{option}}
						</ion-option>
					</ion-select>
				</ion-item>
			</div>
			
			<div *ngIf="groupedProducts?.length">
				<ion-grid *ngFor="let groupProd of groupedProducts">
					<ion-row class="grouped-product">
						<ion-col col-6>
							<span class="product-name">{{groupProd.name}}</span>
						</ion-col>
						<ion-col col-3>
							<span class="product-price" [innerHTML]="groupProd.price_html"></span>
						</ion-col>
						<ion-col col-3 text-center class="product-quantity">
							<ion-icon item-start name="remove-circle" (click)="decrement( groupProd )"></ion-icon>
							<span>{{ groupProd.quantity }}</span>
							<ion-icon item-end name="add-circle" (click)="increment( groupProd )"></ion-icon>
						</ion-col>
					</ion-row>
					<ion-input type="hidden" ngModel name="{{groupProd.id}}"></ion-input>
				</ion-grid>
			</div>

			<ion-item class="product-quantity" *ngIf="!groupedProducts?.length && productLoaded">
				<ion-icon name="remove-circle" (tap)="decrement( selectedItem )" item-start></ion-icon>
				<ion-label>{{ selectedItem.quantity }}</ion-label>
				
				<ion-icon name="add-circle" (tap)="increment( selectedItem )" item-end></ion-icon>
			</ion-item>
			

			<button *ngIf="productLoaded" ion-button type="submit" block>{{ 'Add to Cart' | translate }}</button>

		</form>

		<ion-item class="add-to-list" *ngIf="productLoaded">
			<span class="add-to-list-text">{{ 'Save for later?' | translate }}</span>
			<button class="add-to-list-btn" (tap)="addToList()" ion-button color="light" item-end icon-start><ion-icon name="add"></ion-icon> {{ 'Add to List' | translate }}</button>
		</ion-item>

		<div *ngIf="reviews?.length" class="product-reviews">

			<hr>

			<h2>{{ 'Reviews' | translate }}</h2>
			<ion-list>
				<ion-item text-wrap *ngFor="let review of reviews">
					<ion-avatar item-start *ngIf="review.reviewer_avatar_urls">
				      <img [src]="review.reviewer_avatar_urls['48']" class="reviewer-avatar">
				    </ion-avatar>

				    <h3 class="reviewer-name">{{ review.reviewer }}</h3>

				    <star-rating [rating]="review.rating"></star-rating>

				    <div [innerHTML]="review.review"></div>
				    <!--p class="review-date">{{ review.date_created }}</p-->
				</ion-item>
			</ion-list>

			<button ion-button block color="light" *ngIf="moreReviewsExist" (click)="moreReviews()"> {{ 'All Reviews' | translate }}</button>
		</div>

		<div class="related-products" *ngIf="selectedItem.related_ids?.length">

			<h3>{{ 'Related Products' | translate }}</h3>

			<woo-slider [route]="getRelatedRoute()"></woo-slider>

		</div>

	</div>
 </section>
</ion-content>