<!-- test page, simulates a static page generated through app build -->
<!-- pages are pages.menus.items, tab menu is pages.tab_menu.items -->
<ion-row wrap>
  <ion-col width-50 *ngFor="let p of pages.menus.items">
  
  <ion-card (click)="pushPage(p)" [ngClass]="p.extra_classes">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row>

<ion-slides [options]='{pager:true}'>
<ion-slide>
  <div class="icon-hero"><ion-icon name="aperture"></ion-icon></div>
  <h2 class="slide-title">Learn</h2>
  <p>Learn from our library of educational materials, and share with your friends.</p>
</ion-slide>
<ion-slide>
  <div class="icon-hero"><ion-icon name="people"></ion-icon></div>
  <h2 class="slide-title">Connect</h2>
  <p>Connect with other app users in our vast app network.</p>
</ion-slide>
<ion-slide>
  <div class="icon-hero"><ion-icon name="bulb"></ion-icon></div>
  <h2 class="slide-title">Ready to Go?</h2>
  <button ion-button large (click)="openPage(pages.menus.items[0])">
    Get Started
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-slide>
</ion-slides>

<!-- <ion-row wrap>
  <ion-col width-50 *ngFor="let p of tab_menu_items">
  
  <ion-card (click)="pushPage(p)">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row> -->

<!-- <ion-row wrap>
  <ion-col width-50 *ngFor="let p of pages">
  
  <ion-card (click)="openPage(p)">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row> -->

<!-- <ion-card>
<iframe width="560" height="315" src="https://www.youtube.com/embed/J5mX7RJGj2M?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
  <ion-card-content>
    <ion-card-title>
      Welcome to our Church!
      </ion-card-title>
<p>Check out this video to learn a little more about who we are, what we believe, what we value, and how we can serve you. We are one church with many locations and we have found that we are truly better together. 
</p>
  </ion-card-content>

<ion-list>
    <button ion-item (click)="pushPage( pages.tab_menu.items[1] )">
      <ion-icon name="logo-youtube" item-left></ion-icon>
      Watch Sermons
     <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </button>
    <button ion-item (click)="pushPage( {url:'https://saddleback.com',target:'_blank' } )">
      <ion-icon name="globe" item-left></ion-icon>
      Our Website
     <ion-icon name="ios-arrow-forward" item-right></ion-icon>
    </button>
</ion-list>
</ion-card> -->