<ion-header [ngClass]="customHeaderClasses">

	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
				<ion-icon name="arrow-back"></ion-icon>
				{{'Back' | translate }}
			</button>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

		<ion-title *ngIf="!show_header_logo">{{pagetitle | translate}}</ion-title>

		<ion-buttons end>

			<button ion-button *ngIf="showSearchIcon" class="search-button-header" (click)="toggleSearchBar()">
				<ion-icon name="search"></ion-icon>
			</button>

			<button *ngIf="showCartIcon" ion-button (click)="showCart()">
				<ion-icon name="cart"></ion-icon>
				<ion-badge color="clear" item-end>{{cart_count}}</ion-badge>
			</button>

	    </ion-buttons>

	</ion-navbar>

	<ion-toolbar *ngIf="toggleSearch">
		<ion-searchbar placeholder="{{'Search' | translate }}" debounce="1000" (ionInput)="doSearch($event)" (ionClear)="clearSearch()"></ion-searchbar>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="!use_dynamic" [ngClass]="customClasses">

	Content goes here
	
</ion-content>
<ion-content *ngIf="use_dynamic" [ngClass]="customClasses">

	<DynamicComponent *ngIf="templateUrl"
    [componentTemplateUrl]="templateUrl" 
    [componentModules]="extraModules"
		[componentInputData]="inputData"></DynamicComponent>

	<div *ngIf="!templateUrl">Missing templateUrl</div>

</ion-content>