<ion-header [ngClass]="customHeaderClasses">

	<ion-navbar>

		<ion-buttons start>
			<button *ngIf="rtlBack" (click)="backRtlTransition()" ion-button class="custom-back-button">
				<ion-icon name="arrow-back"></ion-icon>
				{{'Back' | translate }}
			</button>
			<button ion-button menuToggle>
				<ion-icon name="menu"></ion-icon>
			</button>

		</ion-buttons>

		<img class="header-logo" *ngIf="show_header_logo" [src]="header_logo_url" />

		<ion-title *ngIf="!show_header_logo">{{pagetitle | translate}}</ion-title>

	</ion-navbar>
</ion-header>

<ion-content *ngIf="!use_dynamic" [ngClass]="customClasses">

	Content goes here
	
</ion-content>
<ion-content *ngIf="use_dynamic" [ngClass]="customClasses">

	<DynamicComponent *ngIf="templateUrl"
    [componentTemplateUrl]="templateUrl" 
    [componentModules]="extraModules"
		[componentInputData]="inputData"></DynamicComponent>

	<div *ngIf="!templateUrl">Missing templateUrl</div>

</ion-content>