<!-- test page, simulates a static page generated through app build -->
<!-- pages are pages.menus.items, tab menu is pages.tab_menu.items -->
<ion-row wrap>
  <ion-col width-50 *ngFor="let p of pages.menus.items">
  
  <ion-card (click)="setRoot(p)">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row>

<ion-slides [options]='{pager:true}'>
<ion-slide>
  <img src="img/ica-slidebox-img-1.png" class="slide-image"/>
  <h2 class="slide-title">Slide Title</h2>
  <p>Slide Description</p>
</ion-slide>
<ion-slide>
  <img src="img/ica-slidebox-img-1.png" class="slide-image"/>
  <h2 class="slide-title">Slide Title</h2>
  <p>Slide Description</p>
</ion-slide>
<ion-slide>
  <img src="img/ica-slidebox-img-4.png" class="slide-image"/>
  <h2 class="slide-title">Ready to Go?</h2>
  <button ion-button large clear (click)="setRoot(pages.menus.items[1])">
  <!-- use pages.tab_menu-items and pushPage on tabs page -->
    Continue
    <ion-icon name="arrow-forward"></ion-icon>
  </button>
</ion-slide>
</ion-slides>

<!-- <ion-row wrap>
  <ion-col width-50 *ngFor="let p of tab_menu_items">
  
  <ion-card (click)="pushPage(p)">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row> -->

<!-- <ion-row wrap>
  <ion-col width-50 *ngFor="let p of pages">
  
  <ion-card (click)="setRoot(p)">
    
    <div class="card-title"><ion-icon *ngIf="p.class" name="{{p.class}}"></ion-icon></div>
    <div class="card-subtitle">{{p.title}}</div>
  </ion-card>
  </ion-col>
</ion-row> -->