<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ title | translate }}
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list radio-group [(ngModel)]="language">
<ion-item *ngFor="let language of languages">
  <ion-label>{{language.name}}</ion-label>
  <ion-radio (ionSelect)="onToggleLanguage($event, language)" value="{{language.code}}" [checked]="language.checked"></ion-radio>
</ion-item>
<ion-item *ngIf="!languages">{{ 'No languages available' | translate }}</ion-item>
</ion-list>

</ion-content>