<ion-header>
	<ion-navbar>
	  <button ion-button menuToggle *ngIf="!selectedItem">
	    <ion-icon name="menu"></ion-icon>
	  </button>
	  <ion-title><span [innerHTML]="selectedItem.title.rendered"></span></ion-title>
	  <ion-buttons end>
	    <button ion-button (click)="share()">
			<ion-icon name="share"></ion-icon>
		</button>
		</ion-buttons>
	</ion-navbar>
</ion-header>

<ion-content>
 <div *ngIf="selectedItem" class="selection">

 	<div *ngIf="selectedItem.appp && selectedItem.appp.post_detail && selectedItem.appp.post_detail.above_title" [innerHTML]="selectedItem.appp.post_detail.above_title"></div>

    <h2 [innerHTML]="selectedItem.title.rendered"></h2>

    <div *ngIf="selectedItem.appp && selectedItem.appp.post_detail && selectedItem.appp.post_detail.below_title" [innerHTML]="selectedItem.appp.post_detail.below_title"></div>

    <div *ngIf="content" [innerHTML]="content"></div>

    <div *ngIf="selectedItem.appp && selectedItem.appp.post_detail && selectedItem.appp.post_detail.below_content" [innerHTML]="selectedItem.appp.post_detail.below_content | sanitizeHtml"></div>
 </div>
</ion-content>