<ion-slides *ngIf="!card" pager>

	<ion-slide *ngFor="let item of items" [ngStyle]="{'background-image': 'url(' + ( item.images ? item.images[0].src : '' ) + ')'}" (click)="loadDetail(item)">

		<h3 class="item-title" *ngIf="item.name" [innerHTML]="item.name"></h3>

		<div *ngIf="item.appp && item.appp.post_list && item.appp.post_list.item_content" [innerHTML]="item.appp.post_list.item_content"></div>

	</ion-slide>

</ion-slides>

<ion-slides *ngIf="card" pager>

	<ion-slide *ngFor="let item of items" (click)="loadDetail(item)">
		<ion-card>

			<div class="card-featured-wrap" *ngIf="item.images || item.image">
	        <div *ngIf="item.images && item.images[0].src" class="card-featured-image" [ngStyle]="{'background-image': 'url('+ item.images[0].src +')'}"></div>
	        <div *ngIf="item.image && item.image.src" class="card-featured-image" [ngStyle]="{'background-image': 'url('+ item.image.src +')'}"></div>
	      </div>

	      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.above_title" [innerHTML]="item.appp.woo_list.above_title"></div>

	      <ion-card-content>

	        <div class="item-content">

	        	<ion-card-title *ngIf="item.name">
		          <h3 [innerHTML]="item.name"></h3>
		        </ion-card-title>

		        <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_title" [innerHTML]="item.appp.woo_list.below_title"></div>

		        <p *ngIf="item.price && !item.sale_price" class="product-price">${{item.price}}</p>

		        <p *ngIf="item.sale_price" class="product-price">Sale! ${{item.sale_price}}</p>

		        <p *ngIf="item.description" [innerHTML]="truncateString( item.description )" class="product-description"></p>

		        <p *ngIf="item.average_rating && item.average_rating != '0.00'" class="product-rating"><em>Rating: {{item.average_rating}} stars</em></p>

		    </div>

	      </ion-card-content>

	      <div *ngIf="item.appp && item.appp.woo_list && item.appp.woo_list.below_content" [innerHTML]="item.appp.woo_list.below_content"></div>

	  </ion-card>

	</ion-slide>

</ion-slides>