woo-slider {

	position: relative;
	display: block;

	.list-loading-spinner {
	    text-align: center;
	    margin: 5px;

	    ion-spinner * {
		  fill: rgba(0,0,0,.2);
		}

	}

	ion-slides {
		height: 325px;
		padding-bottom: 0 !important;

		.card {
			height: 275px;
			width: auto;
			margin: 0 auto;

			ion-card-content {
				display: inline;
				padding-top: 0;
				padding-bottom: 0;
				line-height: 0;

				.card-title {
					margin-top: 0;
					padding-top: 0;
				}

				.item-content {
					padding: 0 10px 10px;
				}

			}

			h3 {
				font-weight: bold
			}
		}

		.card-featured-wrap {
			height: 60%;
		}

		.related-products {
			height: 50%
		}

		.card-featured-image {
			height: 100%;
		    width: 100%;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center;
		}

		.product-price {
			font-size: 1.4rem;
			font-weight: 500;
			margin-bottom: 5px;
			color: Green;
		}

		.product-description {
			display: none;
		}

		.product-description, .product-rating {
			font-size: 1.2rem;
			margin-bottom: 5px;
		}

		.btn-wrap {
			padding: 0 15px 15px 15px;
		}

		.product-action {
			margin-top: 15px;
			display: none;
		}
	}
	
	// categories are smaller because there is no description
	ion-slides.category-slider {
		height: 250px;

		.card {

			height: 175px;

		}

	}

	ion-slide {
		background-repeat: no-repeat;
		background-position: center;
	}

}

.loading-squares {
	width: 100%;
	padding: 10px;
	height: 80%;
	position: absolute;
	z-index: 2;
	display: flex;

	.loading-square {
		opacity: .7;
		height: 100%;
		flex: 1;
		margin-right: 2%;
		border-radius: 5px;
		background-color: #eeeeee;
		animation-name: loadingAnimation; 
		animation-duration: 2s; 
		animation-iteration-count: infinite;
		animation-timing-function: ease;
	}

	.loading-square:last-child {
		margin-right: 0;
	}
}

@keyframes loadingAnimation {
   0% {
     opacity: .7;
   }
   50% {
   	opacity: .2;
   }
   100% {
     opacity: .7;
   }

}