<ion-header>

  <ion-toolbar>
  
    <ion-title>{{ title | translate }}</ion-title>

    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content>

	<form (ngSubmit)="submitForm()" padding *ngIf="login_data">

      <ion-item>
        <ion-textarea name="content" [(ngModel)]="activity.content"></ion-textarea>
      </ion-item>
      
      <div padding>
      <button ion-button type="submit" block>{{ 'Submit' | translate }}</button>
      </div>
    </form>

	<div padding *ngIf="!login_data">
    	<button ion-button block (click)="openLoginModal()">{{ 'Click here to login' | translate }}</button>
  </div>

</ion-content>